@font-face {
    font-family: NotoSans;
    src: url(NotoSans-Regular.ttf);
}

:root {
    font-size: 16px;
    --card-width: 340px;
    --card-height: 550px;
    --overlap-width: 230px;
}

body {
    background-image: linear-gradient(rgb(41, 41, 41), rgb(0, 0, 0));
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    color: azure;
    font-family: NotoSans, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden; /* Since now cards are centered. When they grow they cause overflow in X(no object is out of screen its just CSS being CSS)*/
}

h1 {
    font-size: 4rem;
    padding: 3rem;
    text-align: center;
    margin: 0;
}

#cards {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--overlap-width));
    margin-left: calc(var(--overlap-width) - var(--card-width));  /* A good ol' negative margin to center the grid properly */
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    border-radius: 25px;
    box-shadow: 2px 2px 20px var(--fallback); /*oh yeah now we're cookin with magic 😎*/
    transition: .5s ease;
}

.card:nth-of-type(2n) {
    margin-top: 12px;
}

.card ul{
    list-style-type: none;
    text-align: center;
    padding:0px;
}

.card:hover {
    transform: scale(1.04);
    z-index: 20!important;  /* This needs to be important because ID selectors take higher presidence.*/
}

.card h2 {
    font-size: 3rem;
    margin: 35px 0 0 0;
    text-align: center;
}

.card img {
    display: block;
    margin: 60px auto 0 auto;
    height: 176px;
    width: 176px;
    object-fit: contain;
    border-radius: 10px;
}

.card a {
    color: azure;
    font-size: 1.5rem;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

.card img.circle {
    border-radius: 50%;
}

#aboutCard {
    z-index: 19;
    --fallback: red;
    background: url("../Images/aboutCard.png"), var(--fallback);
}

#marrigeCard {
    z-index: 18;
    --fallback: orange;
    background: url("../Images/marrigeCard.png"), var(--fallback);
}

#flowerCard {
    z-index: 17;
    --fallback: yellow;
    background: url("../Images/flowerCard.png"), var(--fallback);
}

#profileCard {
    z-index: 16;
    --fallback: lime;
    background: url("../Images/profileCard.png"), var(--fallback);
}

#cerberusCard {
    z-index: 15;
    --fallback: blue;
    background: url("../Images/doggoCard.png"), var(--fallback);
}

#honeyCard {
    z-index: 14;
    --fallback: purple;
    background: url("../Images/BEEEEEECard.png"), var(--fallback);
}

@media screen and (max-width: 1600px) {
    #cards {
        grid-template-columns: repeat(4, var(--overlap-width));
    }
}

@media screen and (max-width: 1100px) {
    #cards {
        grid-template-columns: repeat(2, var(--overlap-width));
    }
}

@media screen and (max-width: 600px) {
    #cards {
        grid-template-columns: repeat(1, var(--overlap-width));
    }
    .card:nth-of-type(n) {
        margin-bottom: 32px;
    }
    .card:hover {
        transform: scale(1);  /* Disable hover on mobile because it's pretty cramped anyway */
    }
}
