@font-face {
    font-family: NotoSans;
    src: url(NotoSans-Regular.ttf);
}

:root {
    font-size: 16px;
    --card-width: 340px;
    --card-height: 550px;
    --overlap-width: 230px;
}

body {
    background-color: #22262b;
    color: azure;
    font-family: NotoSans, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden; /* Since now cards are centered. When they grow they cause overflow in X(no object is out of screen its just CSS being CSS)*/
}

h1 {
    font-size: 4rem;
    margin-top: 1.5rem;
    text-align: center;
}

#cards {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--overlap-width));
    margin-left: calc(var(--overlap-width) - var(--card-width));  /* A good ol' negative margin to center the grid properly */
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    border-radius: 25px;
    box-shadow: 2px 2px 20px var(--fallback); /*oh yeah now we're cookin with magic 😎*/
    transition: .5s ease;

    /* Calculate what's to be displayed on the cards */
    --background: "";
    --fallback: #5dadec;
    background-image: var(--background);
    background-color: var(--fallback);
}

.card:nth-of-type(2n) { 
    margin-top: 12px; 
}
.card ul{
    list-style-type: none;
    text-align: center;
}

.card:hover {
    transform: scale(1.04);
    z-index: 20!important;  /* This needs to be important because ID selectors take higher presidence. -ohhh so thats why my thing didn't worked before*/ 
}

.card h2 {
    font-size: 3rem;
    margin: 35px 0 0 0;
    text-align: center;
}

.card img {
    display: block;
    margin: 60px auto 0 auto;
    height: 176px;
    width: 176px;
    object-fit: contain;
    border-radius: 10px;
}

.card a{
    color: azure;
    font-size: 1.5rem;
    text-decoration:none;
}

.card a:hover{
    text-decoration:underline;
}

.card img.circle {
    border-radius: 50%;
}

#aboutCard{
    background: url("../Images/aboutCard.png");
    z-index: 19;
    --fallback: red; /*added these from the JS demo you made*/
}

#marrigeCard{
    background: url("../Images/marrigeCard.png");
    z-index: 18;
    --fallback: orange;
}

#flowerCard{
    background: url("../Images/flowerCard.png");
    z-index: 17;
    --fallback: yellow;
}

#profileCard{
    background: url("../Images/profileCard.png");
    z-index: 16;
    --fallback: lime;
}

#cerberusCard{
    background: url("../Images/doggoCard.png");
    z-index: 15;
    --fallback: blue;
}

#honeyCard{
    background: url("../Images/BEEEEEECard.png");
    z-index: 14;
    --fallback: purple;
}
