@font-face {
    font-family: NotoSans;
    src: url(NotoSans-Regular.ttf);
}

body{
    background-color: #aa5ed6;
    color: azure;
    font-family: NotoSans;

}

h1{
    font-size: 56px;
    margin: 0;
    text-align: center;
}

.card{
    position: absolute;
    width: 350px;
    height: 550px;
    border-radius: 25px;
    box-shadow: 2px 2px 20px #581e53;
    top: 12.5%;
}

#startCard{
    background-color: #FF0900;
    z-index: 0;
    left: 50px;
}

#aboutCard{
    transition: all 0.5s ease-out;
    background-color: #FF7F00;
    z-index: -1;
    left: 225px;
}

#marrigeCard{
    transition: 0.5s;
    background-color: #FFEF00;
    z-index: -2;
    left: 400px;
}

#flowerCard{
    transition: 0.5s;
    background-color: #00F11D;
    z-index: -3;
    left: 575px;
}

#profileCard{
    transition: 0.5s;
    background-color: #0079FF;
    z-index: -4;
    left: 750px;
}

#cerberusCard{
    transition: 0.5s;
    background-color: #A800FF;
    z-index: -5;
    left: 925px;
}

#honeyCard{
    transition: 0.5s;
    background-color: #ff00d4;
    z-index: -6;
    left: 1100px;
}

#aboutCard:hover, #marrigeCard:hover, #flowerCard:hover, #profileCard:hover, #cerberusCard:hover, #honeyCard:hover{
    animation: MoveForward 2s 1 forwards;
}

@keyframes MoveForward {
    100%{
        transform: scale(1.05);
        z-index: 1;
    }
}

#VFLogo{
    max-width: 50%;
    max-height: 50%;
    margin-left: 25%;
}