@font-face {
    font-family: NotoSans;
    src: url(NotoSans-Regular.ttf);
}

body{
    background-color: #d65ed6;
    color: azure;
    font-family: NotoSans;

}

h1{
    font-size: 56px;
    margin: 0;
    text-align: center;
}

h2{
    font-size: 72px;
    margin-top: 1.75%;
    text-align: center;
}

.card{
    position: absolute;
    width: 350px;
    height: 550px;
    border-radius: 25px;
    box-shadow: 2px 2px 20px #581e53;
    top: 20%;
}

#aboutCard{
    background-color: #FF0900;
    z-index: -1;
    left: 50px;
}

#marrigeCard{
    background-color: #FF7F00;
    z-index: -2;
    left: 270px;
}

#flowerCard{
    background-color: #FFEF00;
    z-index: -3;
    left: 490px;
}

#profileCard{
    background-color: #00F11D;
    z-index: -4;
    left: 710px;
}

#cerberusCard{
    background-color: #0079FF;
    z-index: -5;
    left: 930px;
}

#honeyCard{
    background-color: #A800FF;
    z-index: -6;
    left: 1150px;
}

#aboutCard:hover, #marrigeCard:hover, #flowerCard:hover, #profileCard:hover, #cerberusCard:hover, #honeyCard:hover{
    animation: MoveForward 2s 1 forwards ease;
}

#VFLogo{
    max-width: 50%;
    max-height: 50%;
    margin-left: 25%;
}

#BotImg{
    display: block;
    margin: auto;
}

@keyframes MoveForward {
    100%{
        transform: scale(1.04);
        z-index: 1;
    }
}