.brand .figures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.brand figure {
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    background: #1f1f1f;
    width: 400px;
}

figure {
    margin: 5px;
}

.brand ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand img {
    /* width: 150px; */
    max-width: 80%;

    padding: 1em;
    box-sizing: border-box;
}

.brand li {
    padding: 0 0.5em;
}

.brand img.white {
    background: #e1e1e1;
    border-radius: 10px;
}
