/*
Wibbly wobbly, you are gay now
If you are reading this and not catdotjs or Kae, I wish you good luck understanding the fuck this code is.
Here you'll need this | [A fucking map of this mess] ノ( ゜-゜ノ)
*/

@font-face {
    font-family: NotoSans;
    src: url(/static/fonts/NotoSans-Regular.ttf);
}

:root {
    font-size: 16px;
    --card-width: 340px;
    --card-height: 550px;
    --overlap-width: 230px;
    --left-margin-overlap-offset: calc(var(--overlap-width) - var(--card-width));
}

body {
    color: azure;
    background-color: #111;
    background-image: url("/static/images/index/Background.png");
    background-size:cover; 
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    font-family: NotoSans, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden; /* When the cards grow they cause an overflow on X */
}

h1 {
    font-size: 4rem;
    padding: 1.5rem;
    text-align: center;
    margin: 0;
}

#cards {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--overlap-width));
    margin-left: var(--left-margin-overlap-offset);
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    box-shadow: 2px 2px 20px rgb(var(--fallback)); /* oh yeah now we're cookin with magic 😎 */
    border-radius: 25px;
    transition: 0.05s ease;
}

.card:nth-of-type(2n) {
    margin-top: 12px;
}

.card .background {
    position: absolute;
    height: var(--card-height);
    width: var(--card-width);
    overflow: hidden;
    z-index: -1;
    border-radius: 25px;
}

.card .background:after {
    background: rgba(var(--fallback), 0.5);
    height: 100%;
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.card .background p {
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    line-height: 1.8em;
    width: 100%;
    white-space: nowrap;
    user-select: none;
    letter-spacing: 10px;
}

.card .background p:nth-child(2n) {
    margin-left: -1em;
}

.card ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin: 10px;
}

.card:hover {
    transform: scale(1.04);
    z-index: 100!important;  /* This needs to be important because ID selectors take higher presidence.*/
}

.card h2 {
    font-size: 3rem;
    margin: 35px 0 0 0;
    text-align: center;
}

.card img {
    display: block;
    margin: 60px auto 0 auto;
    height: 176px;
    width: 176px;
    object-fit: contain;
    border-radius: 10px;
}

.card a {
    color: inherit;
    font-size: 1.5rem;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

.card img.circle {
    border-radius: 50%;
}

.card p {
    padding:0.5rem 1.5rem 0.5rem;
    font-size: 1.20rem;
    color: inherit;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.card .guild-count {

}

/* For all devices that can't hover (touchscreens etc) */
@media(hover: none) {
    :root {
        --overlap-width: var(--card-width);
        --left-margin-overlap-offset: 0;
    }
    #cards {
        gap: 40px;
    }
    .card:nth-of-type(n) {
        margin-top: 0;
    }
    .card:hover {
        transform: scale(1);
    }
}

/* Large tablets that can't hover */
@media screen and (max-width: 1600px) and (hover: none) {
    #cards {
        grid-template-columns: repeat(3, var(--overlap-width));
    }
}

/* Desktop-sized screens that can't hover */
@media screen and (min-width: 1400px) and (hover: none) {
    #cards {
        grid-template-columns: repeat(4, var(--overlap-width));
    }
}

/* Large tablets that can hover */
@media screen and (max-width: 1400px) and (hover: hover) {
    #cards {
        grid-template-columns: repeat(4, var(--overlap-width));
    }
}

/* Tablets that can hover */
@media screen and (max-width: 1100px) and (hover: hover) {
    #cards {
        grid-template-columns: repeat(2, var(--overlap-width));
    }
}

/* Tablets that can't hover */
@media screen and (max-width: 1100px) and (hover: none) {
    #cards {
        grid-template-columns: repeat(2, var(--overlap-width));
    }
}

/* Ipads */
@media screen and (max-width: 768px) and (max-height:1024px) {
    #cards {
        grid-template-columns: repeat(2, var(--overlap-width));
    }
}

/* Phones that can hover. phone screen is too small to hover */
@media screen and (max-width: 500px){
    #cards {
        grid-template-columns: repeat(1, var(--overlap-width));
        gap: 40px;
    }
    .card:nth-of-type(n) {
        margin-top: 0;
    }
}
