:root {
    --voxel-fox-orange: 241, 120, 36
}

body {
    font-family: "Century Gothic", "Helvetica", sans-serif;
    margin: 0;
    background: #050505;
}

code {
    font-family: "Courier";
    padding: 0 5px;
    background: darkgray;
    color: black;
    border-radius: 8px;
}

#nav {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: start;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    padding: 0.2em 1em;
    background: rgba(var(--voxel-fox-orange), 0.3);
    border-bottom: 0.2em solid rgb(var(--voxel-fox-orange));
    box-sizing: border-box;
}

#nav img {
    width: 5em;
    margin-left: 1em
}

#nav .buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 2em
}

#nav .button {
    display: block;
    margin-right: 1em;
    padding: 1em 1.5em;
    background: white;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 1em
}

#nav .index-button {
    display: none;
}

#nav .button:hover {
    color: black;
    background: rgb(var(--voxel-fox-orange));
}

#nav label {
    display: none;
}

#hamburger-checkbox {
    display: none;
}

#content {
    max-width: 1200px;
    margin: 2em auto;
    text-align: center;
    color: white;
}

#content a {
    font-size: inherit;
    color: lightblue;
    text-decoration: none;
}

.logo {
    width: 300px;
}

label {
    cursor: pointer;
}

@media screen and (max-width: 770px) {
    #nav label {
        margin: 0 0.4em 0 auto;
        display: block;
        color: white;
        font-size: 2rem;
    }

    #nav label:after {
        content: "☰";
    }

    #nav .buttons {
        display: block;
        position: absolute;
        top: 0;
        left: -25em;
        margin: 0;
        padding: 1em;
        background: #ffffff66;
        width: 20em;
        border-radius: 0 0 1em 0;
        transition: 0.3s ease all;
        z-index: 1000;
    }

    #hamburger-checkbox:checked + #nav .buttons {
        left: 0;
    }

    #hamburger-checkbox:checked + #nav label {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 200vh;
        background: #000000cc;
        transition: 0.3s ease background;
        z-index: 900;
    }

    #hamburger-checkbox:checked + #nav label:after {
        content: "";
    }

    #nav .button {
        margin: 0 0 0.5em 0;
    }

    #nav .button:last-of-type {
        margin: 0;
    }

    #nav .index-button {
        display: block;
    }
}
