/*
Wibbly wobbly, you are gay now
If you are reading this and not catdotjs or Kae, I wish you good luck understanding the fuck this code is.
Here you'll need this | [A fucking map of this mess] ノ( ゜-゜ノ)
*/

@font-face {
    font-family: NotoSans;
    src: url(/static/fonts/NotoSans-Regular.ttf);
}

:root {
    font-size: 16px;
    --card-width: 340px;
    --card-height: 550px;
    --overlap-width: 230px;
    --left-margin-overlap-offset: calc(var(--overlap-width) - var(--card-width));
}

body {
    background-color: #111;
    background-image: url("/static/images/index/background.png");
    background-size:cover; 
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    color: azure;
    font-family: NotoSans, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden; /* When the cards grow they cause an overflow on X */
}

h1 {
    font-size: 4rem;
    padding: 1.5rem;
    text-align: center;
    margin: 0;
}

#cards {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--overlap-width));
    margin-left: var(--left-margin-overlap-offset);
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    border-radius: 25px;
    box-shadow: 2px 2px 20px var(--fallback); /* oh yeah now we're cookin with magic 😎 */
    transition: 0.05s ease;
}

.card:nth-of-type(2n) {
    margin-top: 12px;
}

.card ul{
    list-style-type: none;
    text-align: center;
    padding:0px;
}

.card:hover  {
    transform: scale(1.04);
    z-index: 20!important;  /* This needs to be important because ID selectors take higher presidence.*/
}

.card h2 {
    font-size: 3rem;
    margin: 35px 0 0 0;
    text-align: center;
}

.card img {
    display: block;
    margin: 60px auto 0 auto;
    height: 176px;
    width: 176px;
    object-fit: contain;
    border-radius: 10px;
}

.card a {
    color: azure;
    font-size: 1.5rem;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

.card img.circle {
    border-radius: 50%;
}

.card p {
    padding:0.5rem 1.5rem 0.5rem;
    font-size: 1.20rem;
    color: white;
    font-weight: bold;
    text-align: center;
}

#aboutCard {
    z-index: 19;
    --fallback: red;
    background: url("/static/images/index/aboutCard.png"), var(--fallback);
}

#marriageCard {
    z-index: 18;
    --fallback: orange;
    background: url("/static/images/index/marrigeCard.png"), var(--fallback);
}

#flowerCard {
    z-index: 17;
    --fallback: yellow;
    background: url("/static/images/index/flowerCard.png"), var(--fallback);
}

#profileCard {
    z-index: 16;
    --fallback: lime;
    background: url("/static/images/index/profileCard.png"), var(--fallback);
}

#cerberusCard {
    z-index: 15;
    --fallback: blue;
    background: url("/static/images/index/doggoCard.png"), var(--fallback);
}

#honeyCard {
    z-index: 14;
    --fallback: purple;
    background: url("/static/images/index/BEEEEEECard.png"), var(--fallback);
}

/* For all devices that can't hover (touchscreens etc) */
@media(hover: none) {
    :root {
        --overlap-width: var(--card-width);
        --left-margin-overlap-offset: 0;
    }
    #cards {
        gap: 40px;
    }
    .card:nth-of-type(n) {
        margin-top: 0;
    }
    .card:hover {
        transform: scale(1);
    }
}

/* Large tablets that can't hover */
@media screen and (max-width: 1600px) and (hover: none) {
    #cards {
        grid-template-columns: repeat(3, var(--overlap-width));
    }
}

/* Desktop-sized screens that can't hover */
@media screen and (min-width: 1400px) and (hover: none) {
    #cards {
        grid-template-columns: repeat(4, var(--overlap-width));
    }
}

/* Large tablets that can hover */
@media screen and (max-width: 1400px) and (hover: hover) {
    #cards {
        grid-template-columns: repeat(4, var(--overlap-width));
    }
}

/* Tablets that can hover */
@media screen and (max-width: 1100px) and (hover: hover) {
    #cards {
        grid-template-columns: repeat(2, var(--overlap-width));
    }
}

/* Tablets that can't hover */
@media screen and (max-width: 1100px) and (hover: none) {
    #cards {
        grid-template-columns: repeat(2, var(--overlap-width));
    }
}

/* Ipads */
@media screen and (max-width: 768px) and (max-height:1024px) {
    #cards {
        grid-template-columns: repeat(2, var(--overlap-width));
    }
}

/* Phones that can hover. phone screen is too small to hover */
@media screen and (max-width: 500px){
    #cards {
        grid-template-columns: repeat(1, var(--overlap-width));
        gap: 40px;
    }
    .card:nth-of-type(n) {
        margin-top: 0;
    }
}
/* pro tip: Order these from smallest screen size to biggest (O.O') */
