#content {
    display: flex;
    flex-direction: column;
}

.project {
    background: #ffffff22;
    padding: 1em;
    margin: 0.5em;
    border-radius: 5px;
    text-align: left;
}

.project details {
    margin: 1em 0;
}

.project summary {
    cursor: pointer;
}

.project img {
    max-width: 100%;
}

.project .top {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between
}

.project .name {
    margin: 0;
}

.project .date {
    font-size: 0.9rem;
    filter: opacity(0.6);
    margin: 0;
}
