.card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

.jumbotron {
    padding: 10px;
    padding-bottom: 0;
    border-radius: 0;
    background-color: #5dadec;
}

@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
