.card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

.jumbotron {
    padding: 10px;
    border-radius: 0;
}

@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
