{% macro display_item(item, purchase=none, show_buy_button=true) %}
<div class="item" data-id="{{ item.id }}">
  <p class="name">{{ item.name }}</p>
  {% if item.description %}
    <div class="description">{{ item.description | markdown | safe }}</div>
  {% endif %}
  <p class="price">
    Price: <span>{{ item.currency_symbol }}{{ item.price }}</span>
  </p>
  {% if show_buy_button %}
    {% if item.per_guild %}
      <select class="guild-select" onchange="javascript:guildSelectChange('{{ item.id }}')">
        <option value="">{% if item.subscription %}Subscribe{% else %}Purchase{% endif %} for Guild</option>
      </select>
    {% else %}
      {% if purchase and item.subscription %}
        <form>
          <button formaction="/portal/unsubscribe/{{ purchase.id }}" class="button unsubscribe">Unsubscribe</button>
        </form>
      {% elif item.subscription %}
        <form>
          <button href="/portal/item/{{ item.id }}" class="button">{% if item.subscription %}Subscribe{% else %}Purchase{% endif %}</button>
        </form>
      {% endif %}
    {% endif %}
  {% endif %}
</div>
{% endmacro %}
