{% from "portal2/functions.htm.j2" import display_item %}


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="{{ static('css/portal2/index.css') }}" />
  <link rel="icon" href="{{ static('/images/_voxelfox/logo.png') }}" />
  <title>Voxel Fox Payment Portal</title>
</head>
<body>

<div id="main">

<div id="preamble">
  <a href="/">
    <img src="{{ static('/images/_voxelfox/white.svg') }}" alt="The Voxel Fox logo" width="168" height="164" />
  </a>
  <div>
    <h1>Voxel Fox</h1>
    <p>Designing digital experiences</p>
  </div>
</div>

<div id="purchase-items">
  <h1 class="title">Available for Purchase</h1>
  <div class="items">
    {% for item in purchase_items %}
      {{ display_item(item) }}
    {% endfor %}
  </div>
</div>

<div id="current-items">
  <h1 class="title">Your Purchases</h1>
  <div class="items">
    {% if current_items is none %}
      <p>You are not logged in :(</p>
    {% else %}
      {% for purchase in current_items %}
        {{ display_item(purchase._item, purchase) }}
      {% endfor %}
    {% endif %}
  </div>
</div>

</div>

<script
  id="guild-script"
  type="text/javascript"
  data-logged-in="{{ logged_in | int }}"
  src="{{ static('/js/portal.js') }}">
</script>
</body>
</html>
