{% extends "portal2/template.htm.j2" %}

{% from "portal2/functions.htm.j2" import display_item %}

{% block main %}
{% include "portal2/preamble.htm.j2" %}

<div id="current-items">
  <h1 class="title">Your Purchases</h1>
  <div class="items">
    {% if current_items is none %}
      <button href="?login" class="button" role="button">Login to see your purchases</a>
    {% else %}
      {% if current_items %}
        {% for purchase in current_items %}
          {{ display_item(purchase._item, purchase) }}
        {% endfor %}
      {% else %}
        <p>No items purchased.</p>
      {% endif %}
    {% endif %}
  </div>
</div>

<div id="purchase-items">
  <h1 class="title">Available for Purchase</h1>
  <div class="items">
    {% for item in purchase_items %}
      {{ display_item(item) }}
    {% endfor %}
  </div>
</div>

</div>

<script
  id="guild-script"
  type="text/javascript"
  data-logged-in="{{ logged_in | int }}"
  src="{{ static('/js/portal.js') }}">
</script>
{% endblock main %}
