{% from "portal2/functions.htm.j2" import display_item %}


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="{{ static('css/portal/index.css') }}" />
  <link rel="icon" href="{{ static('/images/_voxelfox/logo.png') }}" />
  <title>Voxel Fox Payment Portal - {{ item.name }}</title>
</head>
<body>


<div id="main">

<div id="preamble">
  <a href="/">
    <img
        src="{{ static('/images/_voxelfox/white.svg') }}"
        alt="The Voxel Fox logo"
        width="168"
        height="164" />
  </a>
  <div>
    <h1>Voxel Fox</h1>
    <p>Designing digital experiences</p>
  </div>
</div>

<div id="purchase-items">
  <a href="/portal/{{ item.product_group }}" class="back-button">&#8592; back</a>
  <div class="items">
    {% for item in purchase_items %}
      {{ display_item(item, none, false) }}
    {% endfor %}
    <div id="stripe-button" class="button-holder block"></div>
    <div id="paypal-button" class="button-holder block"></div>
  </div>
</div>

{% include "portal2/stripe.htm.j2" %}
{% if item.subscription %}
  {% include "portal2/paypal_subscription.htm.j2" %}
{% else %}
  {% include "portal2/paypal_item.htm.j2" %}
{% endif %}

</body>
</html>
