<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="{{ static('css/portal2/index.css') }}" />
  <link rel="icon" href="{{ static('/images/_voxelfox/logo.png') }}" />
  <title>{% block title %}Voxel Fox Payment Portal{% endblock title %}</title>
</head>
<body>

<div id="main">{% block main %}{% endblock main %}</div>

</body>
</html>
