<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ static('css/portal/item.css') }}" />
    <link rel="icon" href="{{ static('/images/_voxelfox/logo.png') }}" />
    <title>Voxel Fox Payment Portal</title>
</head>
<body>


<div class="container">
    <div class="item" data-id="{{ item.id }}">
        <h1 class="title">{{ item.name }}</h1>
        <div class="block">
            {% if item.description %}
                <p class="description">{{ item.description }}</p>
            {% endif %}
            <button class="button unsubscribe-button" onclick="javascript:unsubscribe();">Unsubscribe</button>
        </div>
    </div>
</div>


<script type="text/javascript">
async function unsubscribe() {
    var response = await fetch('/api/portal/unsubscribe', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            id: "{{ purchase['id'] }}",
        })
    });
    if (response.ok) {
        window.location.href = '/portal/{{ item.product_group }}';
    } else {
        alert('An error occurred while unsubscribing.');
    }
}
</script>


</body>
</html>
