{% extends "partials/page.htm.j2" %}


{% block body %}
<div class="content project">
  <a href="/projects" class="logo-box">
    <img class="logo" src="{{ static('/images/_voxelfox/white.svg') }}" />
  </a>

  <h1>Over 18 Age Checker</h1>
  <p>
    A tiny page with a tiny script on it to show you the required date of
    birth for someone if they are presently 18 years old.
  </p>
  <p>Made for a nightclub's ticket office.</p>
  <ul class="links">
    <li>
      <a href="/18" target="_blank">
        Website <icon link></icon>
      </a>
    </li>
  </ul>
</div>
{% endblock %}
