{% extends "partials/page.htm.j2" %}


{% block body %}
<div class="content project">
  <a href="/projects">
    <img class="image" src="{{ static('/images/flower/FlowerTransparentCropped.png') }}" />
  </a>

  <h1>Flower</h1>
  <h2>Grow a virtual garden from right in Discord.</h2>
  <p>
    Flower allows you to grow plants right from inside your Discord server. You can adopt plants, water them, watch them grow, show them off to others, and more!
  </p>
  <div class="technology">
    <icon python></icon>
    <icon postgres></icon>
  </div>

  <ul class="links">
    <li>
      <a href="https://github.com/Voxel-Fox-Ltd/Flower" target="_blank">
        Github <icon github></icon>
      </a>
    </li>
    <li>
      <a href="/portal/flower" target="_blank">
        Donate <icon banknote></icon>
      </a>
    </li>
    <li>
      <a href="/md/privacy_policy/Flower.md" target="_blank">
        Privacy Policy <icon link></icon>
      </a>
    </li>
    <li>
      <a href="/md/terms_of_service/Flower.md" target="_blank">
        Terms of Service <icon link></icon>
      </a>
    </li>
  </ul>
</div>
{% endblock %}
