{% extends "partials/page.htm.j2" %}


{% block body %}
<div class="content project">
  <a href="/projects" class="logo-box">
    <img class="logo" src="{{ static('/images/_voxelfox/white.svg') }}" />
  </a>

  <h1>Novus</h1>
  <h2>A performant API wrapper for the Discord API.</h2>
  <p>
    Novus is an API wrapper and library written to help other developers interact with the Discord API.
  </p>
  <p>
    Its hardly the first of its kind, but it is a library written <i>by</i> programmers, <i>for</i> programmers. As someone who regularly makes bots for Discord, having a library that allows for a lot of ease - but also a lot of flexibility and power - in how it performs is something of a high priority for me. Thus, I made Novus.
  </p>

  <div class="technology">
    <icon python></icon>
  </div>

  <ul class="links">
    <li>
      <a href="https://github.com/Voxel-Fox-Ltd/Novus" target="_blank">
        Github <icon github></icon>
      </a>
    </li>
  </ul>
</div>
{% endblock %}
