{% extends "partials/page.htm.j2" %}


{% block body %}
<div class="content project">
  <a href="/projects">
    <img class="image rounded" src="{{ static('/images/profile/logo.png') }}" />
  </a>

  <h1>Profile</h1>
  <h2>An incredibly modular user forms bot on Discord.</h2>
  <p>
    There are a few bots out there for allowing users to create forms to fill in, but by far Profile is the most modular of all of them.
  </p>
  <p>
    With Profile, server moderators can set up forms for their users to fill out, which can be pulled back up at will. This sort of system lends itself very well to roleplay character profiles, user bios, applications, and more.
  </p>
  <p>
    Normally this kind of system would only be possible through external sites (Typeform and Google Forms) but the versitility of Profile and its customisability within the platform allows it to be a very powerful and diverse tool.
  </p>
  <div class="technology">
    <icon python></icon>
    <icon postgres></icon>
  </div>

  <ul class="links">
    <li>
      <a href="https://github.com/Voxel-Fox-Ltd/Profile" target="_blank">
        Github <icon github></icon>
      </a>
    </li>
    <li>
      <a href="/portal/profile" target="_blank">
        Donate <icon banknote></icon>
      </a>
    </li>
    <li>
      <a href="/md/privacy_policy/Profile.md" target="_blank">
        Privacy Policy <icon link></icon>
      </a>
    </li>
    <li>
      <a href="/md/terms_of_service/Profile.md" target="_blank">
        Terms of Service <icon link></icon>
      </a>
    </li>
  </ul>
</div>
{% endblock %}
