{% extends "partials/page.htm.j2" %}


{% block body %}
<div class="content project">
  <a href="/projects">
    <img class="logo" src="{{ static('/images/_voxelfox/white.svg') }}" />
  </a>

  <h1>Streamlink</h1>
  <h2>A tiny tool for adding TTS to your Twitch chat over Oauth.</h2>
  <p>
    Streamlink is a lightweight browser page for connecting to your Twitch chat via IRC and having messages be read out automatically.
  </p>
  <div class="technology">
    <icon html5></icon>
    <icon javascript></icon>
    <icon css3></icon>
  </div>

  <ul class="links">
    <li>
      <a href="/tts" target="_blank">
        Website <icon link></icon>
      </a>
    </li>
    <li>
      <a href="https://github.com/Voxel-Fox-Ltd/Website/blob/master/website/static/js/twitchtts.js" target="_blank">
        Github <icon github></icon>
      </a>
    </li>
  </ul>
</div>
{% endblock %}
