<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Twitch TTS Streamlink</title>
  <link rel="stylesheet" type="text/css" href="{{ static('/css/twitchtts.css') }}" />
  <link rel="icon" href="{{ static('/images/_voxelfox/logo.png') }}" />

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PQ8G2HYX6H"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-PQ8G2HYX6H');
  </script>
</head>
<body>

<!-- Everything you can see on the page -->
<div id="content">

  <!-- Add our toplevel buttons -->
  <div class="mb">
    <button id="tts-connect" type="button" onclick="connectTTS()">Connect Twitch</button>
    <!-- <button id="change-output" type="button" onclick="changeOutput()">Change Audio Output</button> -->
  </div>

  <!-- Box our access token and login buttons -->
  <div id="access-token-box" class="boxed mb">
    <label for="at">Access Token:</label>
    <input
        name="at"
        onchange="javascript:saveInputs();"
        type="password"
        title="Your Twitch chat access token."
        disabled
        />
    <button id="login-button" onclick="redirectToLogin(); return false;">Login</button>
  </div>

  <!-- TTS controls -->
  <div id="tts-controls" class="boxed mb">

    <!-- Hide TTS stuff -->
    <div class="control-buttons">
      <label>TTS Controls</label>
      <button type="button" data-target="#tts-controls > *[data-hidden]" onclick="javascript:expandItem(this)">&darr;</button>
    </div>  <!-- Hide TTS stuff -->

    <!-- A container for the played audio -->
    <div class="mb" data-hidden="1">
      <audio class="tts" controls></audio>
      <audio class="tts" controls></audio>
      <audio class="tts" controls></audio>
      <audio class="tts" controls></audio>
      <audio class="tts" controls></audio>
      <audio class="tts" controls></audio>
      <audio class="tts" controls></audio>
      <audio class="tts" controls></audio>
      <audio class="tts" controls></audio>
      <audio class="tts" controls></audio>
      <audio class="tts" controls></audio>
      <audio class="tts" controls></audio>
    </div>  <!-- A container for the played audio -->

    <!-- Box our connected TTS channels -->
    <div id="tts-channels-box" class="boxed mb" data-hidden="1">
      <label for="connect">TTS Channels:</label>
      <textarea
          name="connect"
          onchange="javascript:saveInputs();"
          title="A list of Twitch channels that you want to connect to."
          >
      </textarea>
    </div>  <!-- Box our connected TTS channels -->

    <!-- Box our voice overrides -->
    <div id="voice-overrides-box" class="boxed" data-hidden="1">

      <!-- Button to add new voices -->
      <div class="control-buttons">
        <label>Voice Overrides:</label>
        <button type="button" onclick="addNewVoiceOverride(null, null);">+</button>
        <button type="button" class="expand" data-target="#voices" onclick="javascript:expandItem(this)">&darr;</button>
      </div>  <!-- Button to add new voices -->

      <!-- Container for the voices -->
      <div id="voices" class="item-grid" data-hidden="1">

        <!-- Template voice -->
        <div class="template boxed mb">

          <!-- Username holder and button to change from dropdown to input -->
          <div class="username-holder">
            <select class="username" placeholder="Twitch Username" onchange="javascript:saveInputs();">
              <option value="" selected></option>
            </select>
            <button type="button" onclick="javascript:switchSelect(this.parentNode);">+</button>
          </div>

          <!-- Voice dropdown -->
          <select
              class="voices"
              placeholder="Voice"
              onchange="javascript:saveInputs();">
          </select>
        </div>  <!-- Template voice -->
      </div>  <!-- Container for the voices -->
    </div>  <!-- Box our voice overrides -->
  </div>  <!-- TTS controls -->

  <!-- Sound redeems -->
  <div id="sound-redeems-controls" class="boxed">

    <!-- Hide sound stuff -->
    <div class="control-buttons">
      <label>Sound Controls</label>
      <button type="button" data-target="#sound-redeems-controls > *[data-hidden]" onclick="javascript:expandItem(this)">&darr;</button>
    </div>  <!-- Hide sound stuff -->

    <div class="labelled-checkbox">
      <label>
        Rewards WS Enabled
        <input
          id="sound-redeems-enabled"
          type="checkbox"
          name="sound-redeems-enabled"
          onchange="javascript:saveInputs();" />
      </label>
    </div>
    <div id="modify-all-point-rewards">
      <button onclick="javascript:modifyAllRewards(true)" disabled>Enable selected</button>
      <button onclick="javascript:modifyAllRewards(false)" disabled>Disable selected</button>
    </div>

    {% macro create_sound(name, url) %}
      <div class="sound boxed mb" data-id="" data-name="{{ name }}">
        <p>Name: <span style="font-weight: bold;">{{ name }}</span></p>
        <div class="labelled-checkbox">
          <label>
            Enabled on Twitch
            <input type="checkbox" name="enabled" checked disabled />
          </label>
        </div>
        <div class="labelled-checkbox">
          <label>
            Selected
            <input
                type="checkbox"
                name="managed"
                onchange="javascript:saveInputs();"
                checked />
          </label>
        </div>
        <div>
          <audio src="{{ url }}"></audio>
          <audio src="{{ url }}"></audio>
          <audio src="{{ url }}"></audio>
          <audio src="{{ url }}"></audio>
          <audio src="{{ url }}"></audio>
        </div>
      </div>
    {% endmacro %}

    <div id="sounds" class="item-grid mt" data-hidden="1">
      {{ create_sound("a bean", static("/sounds/a bean.wav")) }}
      {{ create_sound("airhorn", static("/sounds/airhorn.wav")) }}
      {{ create_sound("aminya", static("/sounds/aminya.wav")) }}
      {{ create_sound("applause", static("/sounds/applause.wav")) }}
      {{ create_sound("augh", static("/sounds/augh.wav")) }}
      {{ create_sound("boo", static("/sounds/boo.wav")) }}
      {{ create_sound("bozo", static("/sounds/bozo.wav")) }}
      {{ create_sound("bruh", static("/sounds/bruh.wav")) }}
      {{ create_sound("clown", static("/sounds/clown.wav")) }}
      {{ create_sound("crowd ooh", static("/sounds/crowd ooh.wav")) }}
      {{ create_sound("gorsh", static("/sounds/gorsh.wav")) }}
      {{ create_sound("hello there", static("/sounds/hello there.wav")) }}
      {{ create_sound("I can't believe you've done this", static("/sounds/I can't believe you've done this.wav")) }}
      {{ create_sound("laughtrack", static("/sounds/laughtrack.wav")) }}
      {{ create_sound("meow", static("/sounds/meow.wav")) }}
      {{ create_sound("Minecraft villager", static("/sounds/Minecraft villager.wav")) }}
      {{ create_sound("noot noot", static("/sounds/noot noot.wav")) }}
      {{ create_sound("oh my god", static("/sounds/oh my god.wav")) }}
      {{ create_sound("police siren", static("/sounds/police siren.wav")) }}
      {{ create_sound("rimshot", static("/sounds/rimshot.wav")) }}
      {{ create_sound("Roblox death", static("/sounds/Roblox death.wav")) }}
      {{ create_sound("shotgun", static("/sounds/shotgun.wav")) }}
      {{ create_sound("Spongebob disappointed", static("/sounds/Spongebob disappointed.wav")) }}
      {{ create_sound("vine boom", static("/sounds/vine boom.wav")) }}
      {{ create_sound("water droplet", static("/sounds/water droplet.wav")) }}
      {{ create_sound("metal pipe", static("/sounds/metal pipe.mp3")) }}
      {{ create_sound("sad trombone", static("/sounds/sad trombone.mp3")) }}
    </div>
  </div>  <!-- Sound redeems -->

</div>


<script type="text/javascript" src="{{ static('/js/tts/tts.js')}}"></script>
<script type="text/javascript" src="{{ static('/js/tts/twitch.js')}}"></script>
<script type="text/javascript" src="{{ static('/js/tts/dom.js')}}"></script>
<script type="text/javascript" src="{{ static('/js/tts/main.js')}}"></script>


</body>
</html>
