<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Age of 18</title>
</head>
<body>

<style type="text/css">
    body {
        height: 100vh;
        width: 100vw;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Century Gothic";
        background-color: black;
    }

    #container {
        text-align: center;
        color: white;
    }

    #container p {
        margin: 0;
    }

    #age-section {
        font-size: 1.5rem;
        font-weight: bold;
    }
</style>

<div id="container">
    <p>To be 18, you must have been born on</p>
    <span id="age-section">Loading...</span>
</div>

<script type="text/javascript">
    function updateDate() {
        d = new Date()
        d.setFullYear(d.getFullYear() - 18)
        document.getElementById("age-section").textContent = d.toLocaleDateString();
        setTimeout(1_000, updateDate);
    }
    updateDate();
</script>

</body>
</html>
