<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Age of 18</title>
    <link rel="icon" href="{{ static('/images/_voxelfox/logo.png') }}" />
</head>
<body>

<style type="text/css">
    body {
        height: 100vh;
        width: 100vw;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Century Gothic";
        background-color: black;
    }

    #container {
        text-align: center;
        color: white;
    }

    #container p {
        margin: 0;
    }

    #age-section {
        font-size: 1.5rem;
        font-weight: bold;
    }
</style>

<div id="container">
    <p>To be <span id="age-number">18</span>, you must have been born on</p>
    <span id="age-section">Loading...</span>
</div>

<script type="text/javascript">
function parseAge() {
    let newAge = location.hash;
    if(!newAge) {
        document.querySelector("#age-number").textContent = "18";
        document.querySelector("#age-section").textContent = "Loading...";
        return;
    }
    newAge = newAge.replace("#", "");
    document.querySelector("#age-number").textContent = newAge;
    document.querySelector("#age-section").textContent = "Loading...";
}
parseAge();
window.addEventListener('hashchange', parseAge);


function updateDate() {
    d = new Date()
    let selectedAge = parseInt(document.querySelector("#age-number").textContent);
    d.setFullYear(d.getFullYear() - selectedAge)
    document.querySelector("#age-section").textContent = d.toLocaleDateString();
    setTimeout(updateDate, 1_000);
}
updateDate();
</script>

</body>
</html>
