{% extends "partials/page.htm.j2" %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{ static('/css/branding.css') }}" />
{% endblock %}


{% macro create_download(fp, caption) %}
<li>
  <a href="{{ static(fp) }}" download>{{ caption }}</a>
</li>
{% endmacro %}


{% block content %}
<h1>Branding</h1>

<div class="brand">
  <h2>Voxel Fox</h2>
  <p>
    The Voxel Fox logo. The logo may not be deformed, rotated, recoloured,
    or flipped.
  </p>
  <div class="figures">
    <figure>
      <img src="{{ static('/images/_voxelfox-2025/Logo.svg') }}" class="white" />
      <ul>
        {{ create_download('/images/_voxelfox-2025/Logo 1x.png', 'PNG1000px') }}
        {{ create_download('/images/_voxelfox-2025/Logo.svg', 'SVG') }}
      </ul>
      <figcaption>
        Orange (<code>#f17824</code>) fill, black (<code>#000000</code>) outline, white
        (<code>#ffffff</code>) fill for the void space.
        The normal logo for use on light backgrounds.
      </figcaption>
    </figure>
    <figure>
      <img src="{{ static('/images/_voxelfox-2025/Logo White.svg') }}" class="black" />
      <ul>
        {{ create_download('/images/_voxelfox-2025/Logo White 1x.png', 'PNG1000px') }}
      </ul>
      <figcaption>
        Orange (<code>#f17824</code>) fill, white (<code>#ffffff</code>) outline, black
        (<code>#000000</code>) fill for the void space.
        The normal logo for use on dark backgrounds.
      </figcaption>
    </figure>
    <figure>
      <img src="{{ static('/images/_voxelfox-2025/Logo Text Side 1x.png') }}" class="white" />
      <ul>
        {{ create_download('/images/_voxelfox-2025/Logo Text Side 1x.png', 'PNG1000px') }}
        {{ create_download('/images/_voxelfox-2025/Logo Text Side.svg', 'SVG') }}
      </ul>
      <figcaption>
        Orange (<code>#f17824</code>) fill, black (<code>#000000</code>) outline, white
        (<code>#ffffff</code>) fill for the void space.
        The normal logo with side-label for use on light backgrounds.
      </figcaption>
    </figure>
    <figure>
      <img src="{{ static('/images/_voxelfox-2025/Logo Text Side White 1x.png') }}" class="black" />
      <ul>
        {{ create_download('/images/_voxelfox-2025/Logo Text Side White 1x.png', 'PNG1000px') }}
      </ul>
      <figcaption>
        Orange (<code>#f17824</code>) fill, white (<code>#ffffff</code>) outline, black
        (<code>#000000</code>) fill for the void space.
        The normal logo with side-label for use on dark backgrounds.
      </figcaption>
    </figure>
    <figure>
      <img src="{{ static('/images/_voxelfox-2025/Logo Text Under 1x.png') }}" class="white" />
      <ul>
        {{ create_download('/images/_voxelfox-2025/Logo Text Under 1x.png', 'PNG1000px') }}
        {{ create_download('/images/_voxelfox-2025/Logo Text Under.svg', 'SVG') }}
      </ul>
      <figcaption>
        Orange (<code>#f17824</code>) fill, black (<code>#000000</code>) outline, white
        (<code>#ffffff</code>) fill for the void space.
        The normal logo with under-label for use on light backgrounds.
      </figcaption>
    </figure>
    <figure>
      <img src="{{ static('/images/_voxelfox-2025/Logo Text Under White 1x.png') }}" class="black" />
      <ul>
        {{ create_download('/images/_voxelfox-2025/Logo Text Under White 1x.png', 'PNG1000px') }}
      </ul>
      <figcaption>
        Orange (<code>#f17824</code>) fill, white (<code>#ffffff</code>) outline, black
        (<code>#000000</code>) fill for the void space.
        The normal logo with under-label for use on dark backgrounds.
      </figcaption>
    </figure>
  </div>
</div>

<div class="brand">
  <h2>MarriageBot</h2>
  <p>
    The MarriageBot logo. The logo may not be deformed, rotated,
    flipped, or recoloured.
  </p>
  <div class="figures">
    <figure>
      <img src="{{ static('/images/marriagebot/rings.png') }}" class="white" />
      <ul>
        {{ create_download('/images/marriagebot/rings.png', 'PNG1200px') }}
      </ul>
      <figcaption>The MarriageBot logo without a background.</figcaption>
    </figure>
    <figure>
      <img src="{{ static('/images/marriagebot/MarriageBot.150.png') }}" />
      <ul>
        {{ create_download('/images/marriagebot/MarriageBot.png', 'PNG1280px') }}
        {{ create_download('/images/marriagebot/MarriageBot.150.png', 'PNG150px') }}
      </ul>
      <figcaption>The MarriageBot logo with the normal bot background.</figcaption>
    </figure>
  </div>
</div>

<div class="brand">
  <h2>Voxel Fox 2023-2025</h2>
  <p>
    The old Voxel Fox logo. The logo may not be deformed, rotated, or
    flipped. The image <i>may</i> be recoloured, provided the fill and
    outline are colours that stand out against each other. Use your
    own discretion.
  </p>
  <div class="figures">
    <figure>
      <img src="{{ static('/images/_voxelfox-2023/black.svg') }}" class="white" />
      <ul>
        {{ create_download('/images/_voxelfox-2023/logo.png', 'PNG100px') }}
        {{ create_download('/images/_voxelfox-2023/black.svg', 'SVG') }}
      </ul>
      <figcaption>
        Orange (<code>#f17824</code>) fill, black outline. The
        normal logo for use on light backgrounds.
      </figcaption>
    </figure>
    <figure>
      <img src="{{ static('/images/_voxelfox-2023/white.svg') }}" class="black" />
      <ul>
        {{ create_download('/images/_voxelfox-2023/white.svg', 'SVG') }}
      </ul>
      <figcaption>
        Orange (<code>#f17824</code>) fill, white outline. The
        normal logo for use on dark backgrounds.
      </figcaption>
    </figure>
    <figure>
      <img src="{{ static('/images/_voxelfox-2023/gayBlack.svg') }}" class="white" />
      <ul>
        {{ create_download('/images/_voxelfox-2023/gayBlack.svg', 'SVG') }}
      </ul>
      <figcaption>Gay pride fill, black outline.</figcaption>
    </figure>
    <figure>
      <img src="{{ static('/images/_voxelfox-2023/gay.svg') }}" class="black" />
      <ul>
        {{ create_download('/images/_voxelfox-2023/gay.svg', 'SVG') }}
      </ul>
      <figcaption>Gay pride fill, white outline.</figcaption>
    </figure>
    <figure>
      <img src="{{ static('/images/_voxelfox-2023/transBlack.svg') }}" class="white" />
      <ul>
        {{ create_download('/images/_voxelfox-2023/transBlack.svg', 'SVG') }}
      </ul>
      <figcaption>Trans pride fill, black outline.</figcaption>
    </figure>
    <figure>
      <img src="{{ static('/images/_voxelfox-2023/trans.svg') }}" class="black" />
      <ul>
        {{ create_download('/images/_voxelfox-2023/trans.svg', 'SVG') }}
      </ul>
      <figcaption>Trans pride fill, white outline.</figcaption>
    </figure>
  </div>
</div>
{% endblock %}
