{% extends "partials/page.htm.j2" %}

{% block content %}
<style>
/* #content {
    margin: 0 5px;
} */
#content p {
    font-size: 1.2em;
}
#content a {
    text-decoration: underline;
}
</style>
<p>Voxel Fox has created many projects over the years, ranging from Discord and Twitch bots all the way to websites, web-based applications, desktop applications, and even down to physical applications such as basic robotics and electronics and IOT systems.</p>
<p>If you're interested in your own bot, website, or application, you are welcome to <a href="mailto:mailto:commissions@voxelfox.co.uk?cc=kae@voxelfox.co.uk&subject=Commission%20Enquiry&body=Project%20name%3A%0AGive%20a%20name%20to%20your%20project!%0A%0AProject%20description%3A%0AWhat%20do%20you%20want%20your%20project%20do%3F%20%0AWhat%20will%20it%20look%20like%3F%20%0AWhat%20ideas%20do%20you%20have%3F%0ADo%20you%20have%20any%20relevant%20concept%20art%20or%20drawings%3F%20%0A">contact Kae</a> saying what you're looking for, and they'd be happy to help out in writing a specification. If you're not sure yet, feel free to <a href="/projects">browse some of the of Voxel Fox projects</a>.</p>
{% endblock %}
