<html>
<head>
    <p><b>Kae's Super Cool checkout_items Data!</b></p>
</head>

<p>Data is below</p>


{% for message in data %}

<script type="text/javascript">
    function delet() { 
        alert('testing purposes owo uwu rawr x3'); 
    }
</script>

<p>{{message}} <button onclick="delet();">Button</button></p>
{% endfor %}