<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{ static('/images/_voxelfox/logo.png') }}" />
    <link rel="stylesheet" href="{{ static('/css/index.css') }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@VoxelFoxKae" />
    <meta name="twitter:title" content="Voxel Fox" />
    <meta name="twitter:description" content="I make things on the internet and sometimes they get popular." />
    <meta property="og:image" content="{{ static('/images/_voxelfox/logo.png') }}" />
    <meta name="theme-color" content="#f17824">
    <title>Voxel Fox Login</title>
    <meta name="robots" content="noindex" />
    <style type="text/css">
        body {
          display: flex;
          width: 100vw;
          height: 100vh;
          align-items: center;
          justify-content: center;
          text-align: center;
        }

        #main {
          margin-top: -5em;
        }

        #main > div {
          margin-bottom: 1em;
        }
        .content {
            gap: 1em;
        }
        .button {
            padding: 1em 1.5em;
            font-size: 1em;
            background: #f17824;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .button:hover {
            box-shadow: 0 0 5px white;
            color: white;
        }
        .continue .button {
            border: 2px solid white;
        }
    </style>
</head>
<body>

<div id="main" class="content">

    {% if message %}<h1>{{ message }}</h1>{% endif %}

    <div class="discord">
        {% if session.discord %}
            <button
                    onclick="window.location = `{{ discord }}`"
                    type="button"
                    class="button">
                Discord ({{ session.discord.username }})
            </button>
        {% else %}
            <button
                    onclick="window.location = `{{ discord }}`"
                    type="button"
                    class="button">
                Login with Discord
            </button>
        {% endif %}
    </div>

    {# <div class="google">
        {% if session.google %}
            <button
                    onclick="window.location = `{{ google }}`"
                    type="button"
                    class="button">
                Google ({{ session.google.id }})
            </button>
        {% else %}
            <button
                    onclick="window.location = `{{ google }}`"
                    type="button"
                    class="button">
                Login with Google
            </button>
        {% endif %}
    </div> #}

    {#
    <div class="everlasting">
        {% if session.everlasting %}
            <button
                    onclick="window.location = `{{ everlasting }}`"
                    type="button"
                    class="button">
                Everlasting ({{ session.everlasting.id }})
            </button>
        {% else %}
            <button
                    onclick="window.location = `{{ everlasting }}`"
                    type="button"
                    class="button">
                Login with Everlasting Auth
            </button>
        {% endif %}
    </div>
    #}

    {% if session.id %}
        <div class="continue">
            <button
                    onclick="window.location = `/login/done`"
                    type="button"
                    class="button">
                Done linking accounts
            </button>
        </div>
    {% endif %}

</div>

</body>
</html>
