<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Voxel Fox Login</title>
</head>
<body>

<button
        onclick="window.location = `{{ discord }}`"
        type="button">
    Login with Discord
</button>

</body>
</html>
