{% extends "layout/base.j2" %}

{%- macro footerlink(project, attr, fa=none) -%}
    {%- if project[attr] -%}
        <a class="mr-2" href="{{ project[attr] }}" target="_blank"><i class="{{ fa }}"></i></a>
    {%- endif -%}
{%- endmacro -%}

{%- block stylesheets -%}
<link rel="stylesheet" href="{{- static('css/projects.css') -}}" />
<link rel="stylesheet" href="{{- static('css/icomoon.css') -}}" />
{%- endblock stylesheets -%}

{% block content %}
<div class="jumbotron text-center">
    <a class="align-middle text-center" href="/">
        <img src="{{- static('/images/logo2.svg') -}}" alt="The Voxel Fox logo"  height="100" style="margin-bottom: 5px;" />
    </a>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            {% if include_contact_details %}
                <div class="card-columns">
                    <div class="card" style="text-align: center; padding: 10px;">
                        <div class="card-body">
                            <p>If you're looking for a bot for Discord, Reddit, Twitch, or Kik, I'm well able to get this done for you. Get in touch to talk about your project requrements! I'll work with you to make a specification based on what you need done :)</p>
                            <p>Quotes for your bot will be based on the predicted time I expect them to take to make, complexity, and how fast you want your project done.</p>
                            <p>If you want the bot hosted by me then you'll be charged a small monthly fee, but otherwise the code can be given to you on completion!</p>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if include_contact_details %}
                <div class="card-columns">
                    <div class="card" style="text-align: center; padding: 10px;">
                        <p class="contact-text">
                            <a href="https://github.com/4Kaylum" target="_blank">
                                <span class="contact-icon icon-github1"></span>4Kaylum
                            </a>
                        </p>
                        <p class="contact-text">
                            <a href="https://github.com/Voxel-Fox-Ltd" target="_blank">
                                <i class="contact-icon icon-github1"></i>Voxel-Fox-Ltd
                            </a>
                        </p>
                        <p class="contact-text">
                            <a href="https://twitter.com/VoxelFoxKae" target="_blank">
                                <i class="contact-icon icon-twitter1"></i>VoxelFoxKae
                            </a>
                        </p>
                        <p class="contact-text">
                            <a href="https://discord.gg/vfl" target="_blank">
                                <i class="contact-icon icon-discord"></i>Voxel Fox Discord
                            </a>
                        </p>
                        <p class="contact-text">
                            <a href="mailto:kae@voxelfox.co.uk" target="_blank">
                                <i class="contact-icon icon-at"></i>kae@voxelfox.co.uk
                            </a>
                        </p>
                    </div>
                </div>
            {% endif %}
            <div class="card-columns">
                {% for project in projects -%}
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">
                            <button class="btn" data-toggle="collapse" data-target="#{{- project.name -}}Collapse" aria-expanded="true" aria-controls="{{- project.name -}}Collapse" style="width: 100%;">
                                {%- if project.internal_link -%}<a href="{{ project.internal_link }}">{%- endif -%}
                                <span>{{- project.name -}}</span>
                                {%- if project.internal_link -%}</a>{%- endif -%}
                                <span style="margin-left: 5px; text-align: right;">
                                    {{- footerlink(project, 'website', 'icon-link1') -}}
                                    {{- footerlink(project, 'github', 'icon-github1') -}}
                                </span>
                            </button>
                        </h5>
                    </div>
                    <div id="{{- project.name -}}Collapse" class="collapse">
                        <div class="card-body">
                            {{ project[field] | safe }}
                            {%- if project.built_with -%}
                                <ul class="card-text text-muted built-with">
                                    {%- for i in project.built_with -%}<li class="built-with-item">{{- i -}}</li>{%- endfor -%}
                                </ul>
                            {%- endif -%}
                        </div>
                    </div>
                </div>
                {%- endfor -%}
            </div>
        </div>
    </div>
</div>
{%- endblock content -%}
