{% extends "partials/page.htm.j2" %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{ static('/css/projects.css') }}" />
{% endblock %}


{% macro link(label, url, icon=none) %}
<li>
  <a href="{{ url }}" target="_blank">
    {% if icon %}<icon {{ icon }}></icon> {% endif %}{{ label }}
  </a>
</li>
{% endmacro %}
{% macro discord_link(id) %}
<li>
  <a target="_blank" data-discord-id="{{ id }}">
    <icon discord></icon> Discord Invite
  </a>
</li>
{% endmacro %}


{% block content %}
<div class="project">  <!-- novus -->
  <div class="top">
    <p class="name">Novus</p>
    <div>
      <icon discord></icon>
      <icon python></icon>
    </div>
  </div>
  <details>
    <summary>A Python library for the Discord API.</summary>
    <div class="long-description">
      <p>
        Novus is a fast and low-intensity API wrapper written to help other developers interact with the Discord API.
      </p>
      <p>
        Written from the ground up following the discontinuation of Discord.py, Novus is an interaction-centric library written in Python to interact with Discord. It implements command handling and syncing, rate limiting, websocket <i>and</i> webserver-based event handling, as well as an easy-to-use plugin system for extendability.
      </p>
      <ul class="links">
        {{ link("Github", "https://github.com/Voxel-Fox-Ltd/Novus", "github") }}
      </ul>
    </div>
  </details>
  <p class="date">August 2021 - present</p>
</div>  <!-- /novus -->


<div class="project">  <!-- marriagebot -->
  <div class="top">
    <p class="name">MarriageBot</p>
    <div>
      <icon discord></icon>
      <icon python></icon>
      <icon postgres></icon>
    </div>
  </div>
  <details>
    <summary>Discord's most popular family tree bot.</summary>
    <div class="long-description">
      <p>
        MarriageBot is a chatbot for users to start virtual families with other users.
      </p>
      <p>
        There are a few other bots on Discord that allow users to "get married" and "have children" as this does, but MarriageBot was the first bot that allowed users to generate a family tree dynamically based on that family.
      </p>
      <img src="https://marriagebot.xyz/static/images/tree.png" loading="lazy" />
      <ul class="links">
        {{ discord_link(468281173072805889) }}
        {{ link("Website", "https://marriagebot.xyz", "link") }}
        {{ link("Github", "https://github.com/Voxel-Fox-Ltd/MarriageBot", "github") }}
        {{ link("Donate", "/portal/marriagebot", "banknote") }}
        {{ link("Privacy Policy", "/md/privacy_policy/MarriageBot.md", "link") }}
        {{ link("Terms of Service", "/md/terms_of_service/MarriageBot.md", "link") }}
      </ul>
    </div>
  </details>
  <p class="date">July 2018 - present</p>
</div>  <!-- /marriagebot -->


<div class="project">  <!-- interval timer -->
  <div class="top">
    <p class="name">Interval Timer</p>
    <div>
      <icon link></icon>
      <icon html5></icon>
      <icon css3></icon>
      <icon javascript></icon>
    </div>
  </div>
  <details>
    <summary>A small page for tracking how long a theatre interval is.</summary>
    <div class="long-description">
      <p>
        Made as a simple HTML-only page to keep track of an interval end time for a theatre, this page has become a mainstay of several touring technicians in order to simply keep track of intervals and call times.
      </p>
      <img src="{{ static('/images/interval/interval-timer.png') }}" loading="lazy" />
      <ul class="links">
        {{ link("Website", "/interval", "link") }}
      </ul>
    </div>
  </details>
  <p class="date">December 2023 - present</p>
</div>  <!-- /interval timer -->


<div class="project">  <!-- flower -->
  <div class="top">
    <p class="name">Flower</p>
    <div>
      <icon discord></icon>
      <icon python></icon>
      <icon postgres></icon>
    </div>
  </div>
  <details>
    <summary>A Discord bot for growing virtual flowers.</summary>
    <div class="long-description">
      <p>
        Flower allows you to grow plants right from inside your Discord server. You can adopt plants, water them, watch them grow, show them off to others, and more!
      </p>
      <ul class="links">
        {{ discord_link(731736201400418314) }}
        {{ link("Github", "https://github.com/Voxel-Fox-Ltd/Flower", "github") }}
        {{ link("Donate", "/portal/flower", "banknote") }}
        {{ link("Privacy Policy", "/md/privacy_policy/Flower.md", "link") }}
        {{ link("Terms of Service", "/md/terms_of_service/Flower.md", "link") }}
      </ul>
    </div>
  </details>
  <p class="date">August 2019 - present</p>
</div>  <!-- /flower -->


<div class="project">  <!-- profile -->
  <div class="top">
    <p class="name">Profile</p>
    <div>
      <icon discord></icon>
      <icon python></icon>
      <icon postgres></icon>
    </div>
  </div>
  <details>
    <summary>An incredibly modular user forms bot on Discord.</summary>
    <div class="long-description">
      <p>
        There are a few bots out there for allowing users to create forms to fill in, but by far Profile is the most modular of all of them.
      </p>
      <p>
        With Profile, server moderators can set up forms for their users to fill out, which can be pulled back up at will. This sort of system lends itself very well to roleplay character profiles, user bios, applications, and more.
      </p>
      <p>
        Normally this kind of system would only be possible through external sites (Typeform and Google Forms) but the versitility of Profile and its customisability within the platform allows it to be a very powerful and diverse tool.
      </p>
      <ul class="links">
        {{ discord_link(598553427592871956) }}
        {{ link("Github", "https://github.com/Voxel-Fox-Ltd/Profile", "github") }}
        {{ link("Donate", "/portal/profile", "banknote") }}
        {{ link("Privacy Policy", "/md/privacy_policy/Profile.md", "link") }}
        {{ link("Terms of Service", "/md/terms_of_service/Profile.md", "link") }}
      </ul>
    </div>
  </details>
  <p class="date">July 2019 - present</p>
</div>  <!-- /profile -->


<div class="project">  <!-- age -->
  <div class="top">
    <p class="name">Age Checker</p>
    <div>
      <icon link></icon>
      <icon html5></icon>
      <icon css3></icon>
      <icon javascript></icon>
    </div>
  </div>
  <details>
    <summary>A simple Javascript page for date verification.</summary>
    <div class="long-description">
      <p>
        Originally made for a nightclub's ticketing office in order to speed up age checks on IDs, this is just a simple Javascript page for showing the date that someone needs to be born to have passed their 18th birthday.
      </p>
      <ul class="links">
        {{ link("Website", static("/html/18.html"), "link") }}
      </ul>
    </div>
  </details>
</div>  <!-- /age -->


<div class="project">  <!-- titlescraper -->
  <div class="top">
    <p class="name">TitleScraper</p>
    <div>
      <icon computer></icon>
    </div>
  </div>
  <details>
    <summary>A simple program to copy the title of a window into a TXT file.</summary>
    <div class="long-description">
      <p>A simple program to find an open window and write its title to a file.</p>
      <p>Written to scrape Spotify's currently playing song for use on a livestream.</p>
      <ul class="links">
        {{ link("Github", "https://github.com/Voxel-Fox-Ltd/TitleScraper", "github") }}
      </ul>
    </div>
  </details>
</div>  <!-- /titlescraper -->


<div class="project">  <!-- tck -->
  <div class="top">
    <p class="name">TCK.gg</p>
    <div>
      <icon link></icon>
      <icon html5></icon>
      <icon css3></icon>
      <icon javascript></icon>
      <icon python></icon>
    </div>
  </div>
  <details>
    <summary>An affiliate website made for a streamer.</summary>
    <div class="long-description">
      <p>I built both the frontend and backend for the website associated with the Twitch streamer TCK.</p>
      <ul class="links">
        {{ link("Website", "https://web.archive.org/web/20230704205010/https://tck.gg/", "link") }}
      </ul>
    </div>
  </details>
  <p class="date">July 2022 - September 2022</p>
</div>  <!-- /tck -->


<div class="project">  <!-- cerberus -->
  <div class="top">
    <p class="name">Cerberus</p>
    <div>
      <icon discord></icon>
      <icon python></icon>
      <icon postgres></icon>
    </div>
  </div>
  <details>
    <summary>An activity tracking bot for Discord users.</summary>
    <div class="long-description">
      <p>
        Cerberus is a bot designed to listen for chat messages and activity and - basically - count them.
      </p>
      <p>
        There's a couple of caveats built into that though: there's an inbuilt spam filter, and there are blacklists for different channels, but for the most part the bot just counts messages.
      </p>
      <p>
        In terms of other activity, the bot will also keep track of user activity in voice channels, allowing you to have a more accurate gague of the total activity of a user in your guild.
      </p>
      <p>
        Unlike many other acitvity bots, Cerberus takes a hard stance that acivity is something that decays rather than a permanent attribute of your user. Thus, activity points decay from a user over [a configurable amount of] time. In addition to this decay feature, you're able to see how many points a user has at any given point in time.
      </p>
      <img src="{{ static('/images/cerberus/7-day-graph.png') }}" loading="lazy" />
      <ul class="links">
        {{ discord_link(647301314732097560) }}
        {{ link("Github", "https://github.com/Voxel-Fox-Ltd/Cerberus", "github") }}
        {{ link("Privacy Policy", "/md/privacy_policy/Cerberus.md", "link") }}
        {{ link("Terms of Service", "/md/terms_of_service/Cerberus.md", "link") }}
      </ul>
    </div>
  </details>
  <p class="date">November 2019 - present</p>
</div>  <!-- /cerberus -->


<div class="project">  <!-- streamlink -->
  <div class="top">
    <p class="name">Streamlink</p>
    <div>
      <icon link></icon>
      <icon html5></icon>
      <icon css3></icon>
      <icon javascript></icon>
    </div>
  </div>
  <details>
    <summary>A simple Twitch chat TTS and sound effect processor written in pure JS.</summary>
    <div class="long-description">
      <p>
        Streamlink is a lightweight browser page for connecting to your Twitch chat via IRC and having messages be read out automatically.
      </p>
      <ul class="links">
        {{ link("Website", "/tts", "link") }}
      </ul>
    </div>
  </details>
</div>  <!-- /streamlink -->


<!-- Rather than disabling cache control completely, we'll just reset inputs here -->
<script type="text/javascript">
for(let node of document.querySelectorAll(".project input")) {
  node.checked = false;
}
</script>
{% endblock %}
