{% extends "partials/page.htm.j2" %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{ static('/css/theatre.css') }}" />
{% endblock %}


{% macro project(name, details, images) %}
<div class="project">
  <div class="top">
    <p class="name">{{ name }}</p>
    <div class="details">
      {% for d in details %}
      <p>{{ d }}</p>
      {% endfor %}
    </div>
    <div class="carousel">
      <button onclick="changeCarousel(this, -1);">&larr;</button>
      <div class="carousel-images">
        {% for image in images %}
          {% if image is string %}
            <div class="carousel-item {% if not loop.first %}hidden{% endif %}">
              <img src="{{ image }}" {% if not loop.first %}loading="lazy"{% endif %} />
            </div>
          {% else %}
            <div class="carousel-item {% if not loop.first %}hidden{% endif %}">
              <img src="{{ image[0] }}" {% if not loop.first %}loading="lazy"{% endif %} />
              <p>{{ image[1]|safe }}</p>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <button onclick="changeCarousel(this, 1);">&rarr;</button>
    </div>
  </div>
</div>
{% endmacro %}


{% block content %}
{{ project(
  "Haverhill in the Park - August 2026",
  (
    "Once again running the lighting for Haverhill in the Park (HITP).",
    "I ran an Avolites Tiger Touch II lighting desk.",
  ),
  [
    static("images/theatre/hitp-2026/20260820_220623.jpg"),
    static("images/theatre/hitp-2026/20260820_220615.jpg"),
    static("images/theatre/hitp-2026/20260820_220654.jpg"),
    static("images/theatre/hitp-2026/20260822_115630.jpg"),
    static("images/theatre/hitp-2026/20260821_201220.jpg"),
    (static("images/theatre/hitp-2026/FB_IMG_1787444380408.jpg"), "Photo credit: <a href='https://www.instagram.com/hitpfest'>@hitpfest on Instagram</a>."),
    (static("images/theatre/hitp-2026/IMG_1197.jpg"), "Photo credit: <a href='https://www.instagram.com/apertureelementphotography'>Apeture Element Photography</a>."),
    (static("images/theatre/hitp-2026/IMG_1643.jpg"), "Photo credit: <a href='https://www.instagram.com/apertureelementphotography'>Apeture Element Photography</a>."),
    (static("images/theatre/hitp-2026/IMG_1709.jpg"), "Photo credit: <a href='https://www.instagram.com/apertureelementphotography'>Apeture Element Photography</a>."),
    (static("images/theatre/hitp-2026/IMG_1776.jpg"), "Photo credit: <a href='https://www.instagram.com/apertureelementphotography'>Apeture Element Photography</a>."),
    (static("images/theatre/hitp-2026/IMG_1969.jpg"), "Photo credit: <a href='https://www.instagram.com/apertureelementphotography'>Apeture Element Photography</a>."),
    (static("images/theatre/hitp-2026/IMG_2346.jpg"), "Photo credit: <a href='https://www.instagram.com/apertureelementphotography'>Apeture Element Photography</a>."),
    (static("images/theatre/hitp-2026/IMG_4063.jpg"), "Photo credit: <a href='https://www.instagram.com/apertureelementphotography'>Apeture Element Photography</a>."),
    (static("images/theatre/hitp-2026/IMG_4105.jpg"), "Photo credit: <a href='https://www.instagram.com/apertureelementphotography'>Apeture Element Photography</a>."),
    (static("images/theatre/hitp-2026/IMG_4320.jpg"), "Photo credit: <a href='https://www.instagram.com/apertureelementphotography'>Apeture Element Photography</a>."),
  ],
) }}


{{ project(
  "What's Love Got To Do With It - London Palladium - May 2026",
  (
    "Thrilled to have received the opportunity to run lighting in the West End of London for the first time, in the Palladium no less. Working on a Tina Turner tribute show called What's Love Got To Do With It. Used the house rig at the Palladium - 11 universes over sACN - and a handful of lights that were brought on the tour as a ground package.",
    "Running on an Avolites Tiger Touch II lighting desk with additional fader wing.",
  ),
  [
    (static("images/theatre/tina-palladium-2026-05-07/20260507_195705.jpg"), "Photo credit: <a href='https://www.instagram.com/rachaellauren1'>@rachaellauren1 on Instagram</a>."),
    static("images/theatre/tina-palladium-2026-05-07/20260507_110821.jpg"),
    static("images/theatre/tina-palladium-2026-05-07/20260507_111810.jpg"),
    static("images/theatre/tina-palladium-2026-05-07/20260507_140515.jpg"),
    static("images/theatre/tina-palladium-2026-05-07/20260507_161955_884dd2a6.jpg"),
    static("images/theatre/tina-palladium-2026-05-07/20260507_213015.jpg"),
    (static("images/theatre/tina-palladium-2026-05-07/IMG-20260507-WA0006.jpg"), "Photo credit: <a href='https://www.instagram.com/rachaellauren1'>@rachaellauren1 on Instagram</a>."),
    (static("images/theatre/tina-palladium-2026-05-07/IMG-20260507-WA0009.jpg"), "Photo credit: <a href='https://www.instagram.com/rachaellauren1'>@rachaellauren1 on Instagram</a>."),
    (static("images/theatre/tina-palladium-2026-05-07/IMG-20260507-WA0011.jpg"), "Photo credit: <a href='https://www.instagram.com/rachaellauren1'>@rachaellauren1 on Instagram</a>."),
    (static("images/theatre/tina-palladium-2026-05-07/IMG-20260507-WA0014.jpg"), "Photo credit: <a href='https://www.instagram.com/rachaellauren1'>@rachaellauren1 on Instagram</a>."),
    (static("images/theatre/tina-palladium-2026-05-07/IMG-20260508-WA0003.jpg"), "Photo credit: <a href='https://www.instagram.com/rachaellauren1'>@rachaellauren1 on Instagram</a>."),
    (static("images/theatre/tina-palladium-2026-05-07/IMG-20260508-WA0009.jpg"), "Photo credit: <a href='https://www.instagram.com/rachaellauren1'>@rachaellauren1 on Instagram</a>."),
    (static("images/theatre/tina-palladium-2026-05-07/IMG-20260508-WA0010.jpg"), "Photo credit: <a href='https://www.instagram.com/rachaellauren1'>@rachaellauren1 on Instagram</a>."),
    (static("images/theatre/tina-palladium-2026-05-07/IMG-20260508-WA0023.jpg"), "Photo credit: <a href='https://www.instagram.com/rachaellauren1'>@rachaellauren1 on Instagram</a>."),
    (static("images/theatre/tina-palladium-2026-05-07/IMG-20260508-WA0031.jpg"), "Photo credit: <a href='https://www.instagram.com/rachaellauren1'>@rachaellauren1 on Instagram</a>."),
    static("images/theatre/tina-palladium-2026-05-07/SnapInsta.to_686165239_18317980531282126_5659068734181000699_n.jpg"),
    static("images/theatre/tina-palladium-2026-05-07/SnapInsta.to_689517580_18318027898282126_1983354901514946672_n.jpg"),
    static("images/theatre/tina-palladium-2026-05-07/SnapInsta.to_AQNCRtoTbhVOySVkhUuotm5-Hv41300UUbaUsUVTa96uwdMlI8NSvFlyhD-fzDsDcenlvV9PSjuXZ8IBQFEshGUeF9RhC5On6fqNiOg.jpg"),
  ],
) }}


{{ project(
  "Beauty and the Beast - Haverhill Arts Centre Pantomime - December 2025",
  (
    "Another year running the sound for the Haverhill Arts Centre pantomime, this year we put on Beauty and the Beast. For the panto run I took the role of sound designer, mixing line-by-line for each show. For the production we used 14 radio mics and had two musicians on keys and drums.",
  ),
  [
    static("images/theatre/hav-panto-2025/20251230_145544.jpg"),
    static("images/theatre/hav-panto-2025/20251230_173542.jpg"),
    static("images/theatre/hav-panto-2025/20251230_173559.jpg"),
    static("images/theatre/hav-panto-2025/20251230_173715.jpg"),
    static("images/theatre/hav-panto-2025/20251230_174419.jpg"),
  ],
) }}


{{ project(
  "Queen of the Night - Brighton Centre - November 2025",
  (
    "I was asked back to run another Queen of the Night show at the Brighton Centre. This was a full touring venue, giving us an empty shell to put a full PA and lighting package into.",
    "I ran an Avolites Tiger Touch II lighting desk.",
  ),
  [
    static("images/theatre/whitney-brighton-2025-11-15/IMG-20251116-WA0007.jpg"),
    static("images/theatre/whitney-brighton-2025-11-15/20251115_075833.jpg"),
    static("images/theatre/whitney-brighton-2025-11-15/20251115_103325.jpg"),
    static("images/theatre/whitney-brighton-2025-11-15/20251115_103340.jpg"),
    static("images/theatre/whitney-brighton-2025-11-15/20251115_104519.jpg"),
    static("images/theatre/whitney-brighton-2025-11-15/20251115_114601.jpg"),
    static("images/theatre/whitney-brighton-2025-11-15/20251115_115818.jpg"),
    static("images/theatre/whitney-brighton-2025-11-15/20251115_153025.jpg"),
    static("images/theatre/whitney-brighton-2025-11-15/20251115_153029.jpg"),
    static("images/theatre/whitney-brighton-2025-11-15/20251115_160342.jpg"),
    static("images/theatre/whitney-brighton-2025-11-15/20251115_170718.jpg"),
    static("images/theatre/whitney-brighton-2025-11-15/20251115_174732.jpg"),
    static("images/theatre/whitney-brighton-2025-11-15/20251115_202109.jpg"),
    static("images/theatre/whitney-brighton-2025-11-15/582073293_18546238954028710_8913545740787317877_n.jpg"),
    static("images/theatre/whitney-brighton-2025-11-15/582760041_18546238981028710_8776999290286980496_n.jpg"),
    static("images/theatre/whitney-brighton-2025-11-15/IMG-20251116-WA0000.jpg"),
    static("images/theatre/whitney-brighton-2025-11-15/IMG-20251116-WA0003.jpg"),
    static("images/theatre/whitney-brighton-2025-11-15/IMG-20251116-WA0004.jpg"),
    static("images/theatre/whitney-brighton-2025-11-15/IMG-20251116-WA0006.jpg"),
    static("images/theatre/whitney-brighton-2025-11-15/IMG-20251116-WA0009.jpg"),
  ],
) }}


{{ project(
  "Kesgrave Hall - September 2025",
  (
    "One of the events I ran at Milsoms Kesgrave Hall was a gala dinner. I acted as a basic stage manager and inhouse technician for the event; running the video display, the basic lighting states, camera PTZ, and helping the band tie into the house system - though I ended up mixing them as well when they started playing, as it turned out their sound engineer was a member of the band.",
    "I used an in-house QU24 (and the band via a Behringer mixer and the Mixing Station app), and an Infinity Chimp lighting console."
  ),
  [
    static("images/theatre/kesgrave-2025-09-19/20250919_123526.jpg"),
    static("images/theatre/kesgrave-2025-09-19/20250919_123445.jpg"),
    static("images/theatre/kesgrave-2025-09-19/20250919_123510.jpg"),
    static("images/theatre/kesgrave-2025-09-19/20250919_180412.jpg"),
    static("images/theatre/kesgrave-2025-09-19/20250919_180526.jpg"),
  ],
) }}


{{ project(
  "Haverhill in the Park - August 2025",
  (
    "Once again running the lighting for Haverhill in the Park (HITP), I was able to further improve the design and execution of the lighting for the festival. For this one I had a few more lights, managing to get a range more LED battens to run around the inner truss.",
    "I ran an Avolites Tiger Touch II lighting desk.",
  ),
  [
    static("images/theatre/hitp-2025/image-21.png"),
    static("images/theatre/hitp-2025/20250816_145541.jpg"),
    static("images/theatre/hitp-2025/20250816_230956.jpg"),
    static("images/theatre/hitp-2025/534332832_18524107438026004_365227534536267610_n.jpg"),
    static("images/theatre/hitp-2025/image-13.png"),
    static("images/theatre/hitp-2025/Screenshot_20250815_001920_Instagram.jpg"),
  ],
) }}


{{ project(
  "Queen of the Night - Milton Keynes Theatre - January 2025",
  (
    "Working with production company East Anglia Leisure, I was given the opportunity to run the lighting for a Whitney Houston tribute called Queen of the Night to a sold out Milton Keynes Theatre.",
    "I ran an Avolites Tiger Touch II lighting desk.",
  ),
  [
    static("images/theatre/whitney-milton-2025-01-14/20250114_205955.jpg"),
    static("images/theatre/whitney-milton-2025-01-14/20250114_183653.jpg"),
    static("images/theatre/whitney-milton-2025-01-14/20250114_205227.jpg"),
    static("images/theatre/whitney-milton-2025-01-14/20250114_214653.jpg"),
  ],
) }}


{{ project(
  "Jack and the Beanstalk - Haverhill Arts Centre Pantomime - December 2024",
  (
    "My second year running, I was the sound designer for the Haverhill Arts Centre pantomime. 14 radio mics and two musicians on keys and drums. I also took multitrack recordings of each show to mix later for marketing usage.",
  ),
  [
    static("images/theatre/hav-panto-2024/20241209_133156.jpg"),
    static("images/theatre/hav-panto-2024/20241210_130502.jpg"),
    static("images/theatre/hav-panto-2024/20241210_165920.jpg"),
    static("images/theatre/hav-panto-2024/20241210_210431.jpg"),
    static("images/theatre/hav-panto-2024/IMG-20241215-WA0001.jpg"),
  ],
) }}


{{ project(
  "Haverhill in the Park - August 2024",
  (
    "For my second year running the lighting at Haverhill in the Park (HITP) - and a second year proving myself running gigs at the Haverhill Arts Centre as part of the Haverhill Town Council - I was able to be more involved in the planning process and have more creative freedom with the lighting design. I was able to use the experience from the previous year to make improvements to the design and execution of the lighting for the festival. As to be expected, I was limited by the budget that was given to a free family festival run by the council, but despite that I was still able to make a spectacular light show for the weekend.",
    "I ran an Avolites Tiger Touch II lighting desk.",
  ),
  [
    static("images/theatre/hitp-2024/20240817_145000.jpg"),
    static("images/theatre/hitp-2024/20240814_181054.jpg"),
    static("images/theatre/hitp-2024/20240816_112809.jpg"),
    static("images/theatre/hitp-2024/20240816_112614.jpg"),
  ],
) }}


{{ project(
  "Dick Whittington - Haverhill Arts Centre Pantomime - December 2023",
  (
    "As part of my employment with Haverhill Town Concil, I ran the sound for the pantomime at the Haverhill Arts Centre. For the panto run I took the role of sound designer, mixing line-by-line for each show. For the production we used 14 radio mics and had two musicians on keys and drums.",
  ),
  [
    static("images/theatre/hav-panto-2023/20231216_141757.jpg"),
    static("images/theatre/hav-panto-2023/20231223_094915.jpg"),
    static("images/theatre/hav-panto-2023/20231223_100921.jpg"),
    static("images/theatre/hav-panto-2023/20231223_103351.jpg"),
    static("images/theatre/hav-panto-2023/20231223_111927.jpg"),
  ],
) }}


{{ project(
  "Haverhill in the Park - August 2023",
  (
    "My first year working for Haverhill Town Council I was given the opportunity to run the lighting for Haverhill in the Park (HITP), a free music festival held in the town. Under guidance of the project manager I was able to emulate and use the focus from the previous year and work on my first high-profile festival.",
    "I ran an Avolites Tiger Touch II lighting desk."
  ),
  [
    static("images/theatre/hitp-2023/4.webp"),
    static("images/theatre/hitp-2023/1.webp"),
    static("images/theatre/hitp-2023/2.webp"),
    static("images/theatre/hitp-2023/3.webp"),
    static("images/theatre/hitp-2023/5.webp"),
    static("images/theatre/hitp-2023/6.webp"),
    static("images/theatre/hitp-2023/7.webp"),
    static("images/theatre/hitp-2023/8.webp"),
    static("images/theatre/hitp-2023/9.webp"),
  ],
) }}


<dialog id="imageModal">
  <button onclick="imageModal.close()">X</button>
  <img src="" />
</dialog>

<script>
function changeCarousel(node, direction) {
  const carousel = node.closest('.carousel');
  const images = carousel.querySelectorAll('.carousel-item');
  let currentIndex = -1;
  images.forEach((item, index) => {
    if (!item.classList.contains('hidden')) {
      currentIndex = index;
    }
  });
  if (currentIndex === -1) return;
  images[currentIndex].classList.add('hidden');
  let newIndex = (currentIndex + direction) % images.length;
  if (newIndex < 0) newIndex += images.length;
  images[newIndex].classList.remove('hidden');
}


function showImageModal(img) {
  const modal = document.getElementById('imageModal');
  modal.querySelector('img').src = img.src;
  modal.showModal();
}
document.querySelectorAll('.carousel-item img').forEach(img => {
  img.addEventListener('click', () => showImageModal(img));
});

</script>
{% endblock %}
