<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Twitch TTS Streamlink</title>
  <link rel="stylesheet" type="text/css" href="{{ static('/css/twitchtts.css') }}" />
  <link rel="icon" href="{{ static('/images/_voxelfox/logo.png') }}" />
</head>
<body>

<!-- Everything you can see on the page -->
<div id="content">

  <!-- Add our toplevel buttons -->
  <button id="tts-connect" type="button" onclick="connectTTS()" style="margin: 0;">Connect TTS</button>
  <button id="change-output" type="button" onclick="changeOutput()" style="margin: 1em 0;">Change Audio Output</button>

  <!-- Box our access token and login buttons -->
  <div id="access-token-box" class="boxed mb">
    <label for="at">Access Token:</label>
    <input
        name="at"
        onchange="javascript:saveInputs();"
        type="password"
        title="Your Twitch chat access token."
        disabled
        />
    <button id="login-button" onclick="redirectToLogin(); return false;">Login</button>
  </div>

  <div class="boxed">

    <!-- A container for the played audio -->
    <div class="mb">
      <audio class="tts" controls></audio>
    </div>

    <!-- Box our connected TTS channels -->
    <div id="tts-channels-box" class="boxed mb">
      <label for="connect">TTS Channels:</label>
      <textarea
          name="connect"
          onchange="javascript:saveInputs();"
          title="A list of Twitch channels that you want to connect to."
          >
      </textarea>
    </div>

    <!-- Box our voice overrides -->
    <div id="voice-overrides-box" class="boxed">

      <!-- Button to add new voices -->
      <div class="control-buttons">
        <label>Voice Overrides:</label>
        <button type="button" onclick="addNewVoiceOverride(null, null);">+</button>
        <button type="button" class="expand" data-target="#voices" onclick="javascript:expandItem(this)">&darr;</button>
      </div>

      <!-- Container for the voices -->
      <div id="voices" data-hidden="1">

        <!-- Template voice -->
        <div class="template boxed mb">

          <!-- Username holder and button to change from dropdown to input -->
          <div class="username-holder">
            <select class="username" placeholder="Twitch Username" onchange="javascript:saveInputs();">
              <option value="" selected></option>
            </select>
            <button type="button" onclick="javascript:switchSelect(this.parentNode);">+</button>
          </div>

          <!-- Voice dropdown -->
          <select class="voices" placeholder="Voice" onchange="javascript:saveInputs();"></select>
        </div>
      </div>
    </div>

  </div>

</div>


<script type="text/javascript" src="{{ static('/js/tts/tts.js')}}"></script>
<script type="text/javascript" src="{{ static('/js/tts/twitch.js')}}"></script>
<script type="text/javascript" src="{{ static('/js/tts/dom.js')}}"></script>
<script type="text/javascript" src="{{ static('/js/tts/main.js')}}"></script>


</body>
</html>
