<!DOCTYPE html>
<html lang="en">

<head>
    {# Metadata #}
    <title>{{ data.guild_name }} - {{ data.channel_name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- Most, if not all, of this page's original HTML was stolen from https://github.com/Tyrrrz/DiscordChatExporter/ before altering for my own use case -->

    {# Styles #}
    <style>
        {{ core_css | safe }}
    </style>
    <style>
        {{ dark_css | safe }}
    </style>

    {# Syntax highlighting #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/solarized-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.pre--multiline').forEach(block => hljs.highlightBlock(block));
        });
    </script>

    {# Local scripts #}
    <script>
        function scrollToMessage(event, id) {
            var element = document.getElementById('message-' + id);
            if (element) {
                event.preventDefault();
                element.classList.add('chatlog__message--highlighted');
                window.scrollTo({
                    top: element.getBoundingClientRect().top - document.body.getBoundingClientRect().top - (window.innerHeight / 2),
                    behavior: 'smooth'
                });
                window.setTimeout(function() {
                    element.classList.remove('chatlog__message--highlighted');
                }, 2000);
            }
        }

        function showSpoiler(event, element) {
            if (element && element.classList.contains('spoiler--hidden')) {
                event.preventDefault();
                element.classList.remove('spoiler--hidden');
            }
        }
    </script>
</head>
<body>

{# Preamble #}
<div class="preamble">
    <div class="preamble__guild-icon-container">
        <img class="preamble__guild-icon" src="{{ data.guild_icon_url }}" alt="Guild icon">
    </div>
    <div class="preamble__entries-container">
        <div class="preamble__entry">{{ data.guild_name }}</div>
        <div class="preamble__entry">{{ data.category_name }} / {{ data.channel_name }}</div>
    </div>
</div>

{# Log #}
<div class="chatlog">

{% set previous_author = {'data': None} %}
{% for message in data.messages %}

    {% set author = data.users['' ~ message.author_id] %}
    {% if author.update({'id': '' ~ message.author_id}) %}{% endif %}
    {% if previous_author.data != none and author.id != previous_author.data.id %}
        </div> <!-- chatlog__messages -->
        </div> <!-- chatlog__message-group -->
    {% endif %}
    {% if previous_author.data == none or author.id != previous_author.data.id %}
        <div class="chatlog__message-group">
        <div class="chatlog__author-avatar-container">
            <img class="chatlog__author-avatar" src="{{ author.avatar_url }}" alt="Avatar">
        </div> <!-- chatlog__author-avatar-container -->
        <div class="chatlog__messages">
            {# Author name and timestamp #}
            <span class="chatlog__author-name" title="{{ author.username }}#{{ author.discriminator }}" data-user-id="{{ author.id }}"{% if author.color %}  style="color: #{{ author.color | int_to_hex}}"{% endif %}>{{ author.display_name or author.username }}</span>
            {% if author.bot %}<span class="chatlog__bot-tag">BOT</span>{% endif %}
            <span class="chatlog__timestamp">{{ message.timestamp | timestamp }}</span>
    {% endif %}
    {% if previous_author.update({'data': author}) %}{% endif %}

    <div class="chatlog__message" data-message-id="{{ message.id }}" id="message-{{ message.id }}">
    {% if message.content %}
        <div class="chatlog__content">
            <div class="markdown">{{ message.content.strip() | escape_text | display_mentions(data.users) | safe }}</div> <!-- markdown -->
        </div> <!-- chatlog__content -->
    {% endif %}

    {# Attachments #}
    {% for attachment in message.get('attachments', []) %}
        <div class="chatlog__attachment">
            <a href="{{ attachment }}">Attachment: {{ attachment.split('/')[-1] }}</a>
        </div>
    {% endfor %}

    {# Embeds #}
    {% for embed in message.get('embeds', []) %}
    <div class="chatlog__embed">
        {% if embed.color %}
        <div class="chatlog__embed-color-pill" style="background-color: #{{ embed.color | int_to_hex }}"></div>
        {% else %}
        <div class="chatlog__embed-color-pill chatlog__embed-color-pill--default"></div>
        {% endif %}
        <div class="chatlog__embed-content-container">
            <div class="chatlog__embed-content">
                <div class="chatlog__embed-text">
                    {% if embed.author %}
                    <div class="chatlog__embed-author">
                        {% if embed.author.icon_url %}
                        <img class="chatlog__embed-author-icon" src="{{ embed.author.icon_url }}" alt="Author icon">
                        {% endif %}

                        {% if embed.author.name %}
                        <span class="chatlog__embed-author-name">
                            {% if embed.author.url %}
                            <a class="chatlog__embed-author-name-link" href="{{ embed.author.url }}">{{ embed.author.name }}</a>
                            {% else %}
                            {{ embed.author.name }}
                            {% endif %}
                        </span>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if embed.title %}
                    <div class="chatlog__embed-title">
                        {% if embed.url %}
                        <a class="chatlog__embed-title-link" href="{{ embed.Url }}"><div class="markdown">{{ embed.title }}</div></a>
                        {% else %}
                        <div class="markdown">{{ embed.title }}</div>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if embed.description %}
                    <div class="chatlog__embed-description"><div class="markdown">{{ embed.description | escape_text | display_mentions(data.users) | safe }}</div></div>
                    {% endif %}

                    {% if embed.get('fields', []) %}
                    <div class="chatlog__embed-fields">
                        {% for field in embed.fields %}
                        <div class="chatlog__embed-field{% if field.inline %} chatlog__embed-field--inline{% endif %}">
                            <div class="chatlog__embed-field-name"><div class="markdown">{{ field.name }}</div></div>
                            <div class="chatlog__embed-field-value"><div class="markdown">{{ field.value | escape_text | display_mentions(data.users) | safe }}</div></div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                {% if embed.thumbnail %}
                <div class="chatlog__embed-thumbnail-container">
                    <a class="chatlog__embed-thumbnail-link" href="{{ embed.thumbnail.url }}">
                        <img class="chatlog__embed-thumbnail" src="{{ embed.thumbnail.url }}" alt="Thumbnail">
                    </a>
                </div>
                {% endif %}
            </div>

            {% if embed.image %}
            <div class="chatlog__embed-image-container">
                <a class="chatlog__embed-image-link" href="{{ embed.image.url }}">
                    <img class="chatlog__embed-image" src="{{ embed.image.url }}" alt="Image">
                </a>
            </div>
            {% endif %}

            {% if embed.footer or embed.timestamp %}
            <div class="chatlog__embed-footer">
                {% if embed.footer %}
                {% if embed.footer and embed.footer.icon_url%}
                <img class="chatlog__embed-footer-icon" src="{{ embed.footer.icon_url }}" alt="Footer icon">
                {% endif %}
                {% endif %}

                <span class="chatlog__embed-footer-text">
                    {% if embed.footer %}
                    {% if embed.footer.text %}
                    {{ embed.footer.text }}
                    {% if embed.timestamp %} • {% endif %}
                    {% endif %}
                    {% endif %}

                    {% if embed.timestamp %}
                    {{ embed.timestamp | timestamp }}
                    {% endif %}
                </span>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    {# {{~ # Reactions ~}}
    {{~ if message.Reactions | array.size > 0 ~}}
        <div class="chatlog__reactions">
            {{~ for reaction in message.Reactions ~}}
                <div class="chatlog__reaction">
                    <img class="emoji emoji--small" alt="{{ reaction.Emoji.Name }}" title="{{ reaction.Emoji.Name }}" src="{{ reaction.Emoji.ImageUrl }}">
                    <span class="chatlog__reaction-count">{{ reaction.Count }}</span>
                </div>
            {{~ end ~}}
        </div>
    {{~ end ~}} #}
    </div> <!-- chatlog__message -->
{% endfor %}
</div> <!-- chatlog__messages -->
</div> <!-- chatlog__message-group -->

</div>
</body>
</html>
