<!DOCTYPE html>
<html>
<head>
    <title>Identify</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
     <script>
       function onCaptchaSubmit(token) {
         document.getElementById("demo-form").submit();
       }
     </script>
</head>
<body>

<form id='demo-form' action="?" method="POST">
    <button class="g-recaptcha" data-sitekey="6LemSKcZAAAAAF4HdXyZo5Fi0ByNKBRYcVQ3AS2M" data-callback='onCaptchaSubmit'>Submit</button>
    <br/>
</form>


</body>
</html>
