<a href="#main"><img class="logo" src="{{ logo }}" /></a>
<h1>Commissions</h1>
<p>
  If you have a bot or website in mind and you need some assistance to
  bring your idea to life, you can come to us for a commission!
</p>
<p>
  Commissions vary in price depending on how complex your idea is, and
  how much assistance you'll need when it comes to building it, but if
  you contact us and let us know your idea, we'd be happy to talk it
  all through with you :)
</p>
<b><a href="mailto:commissions@voxelfox.co.uk">commissions@voxelfox.co.uk</a></b>
