<a href="#main"><img class="logo" src="{{ logo }}" /></a>
<table>
    <tbody>
        <tr>
            <td>Contact Email</td>
            <td><icon at></icon></td>
            <td><a href="mailto:kae@voxelfox.co.uk">kae@voxelfox.co.uk</a></td>
        </tr>
        <tr>
            <td>Support Email</td>
            <td><icon at></icon></td>
            <td><a href="mailto:support@voxelfox.co.uk">support@voxelfox.co.uk</a></td>
        </tr>
        <tr>
            <td>Discord</td>
            <td><icon discord></icon></td>
            <td><a href="https://discord.gg/VoxelFox">discord.gg/VoxelFox</a></td>
        </tr>
        <tr>
            <td>Twitch</td>
            <td><icon twitch></icon></td>
            <td><a href="https://twitch.tv/VoxelFoxKae">twitch.tv/VoxelFoxKae</a></td>
        </tr>
        <tr>
            <td>YouTube</td>
            <td><icon youtube></icon></td>
            <td><a href="https://www.youtube.com/c/KaeVF">youtube.com/c/KaeVF</a></td>
        </tr>
        <tr>
            <td>Voxel Fox Github</td>
            <td><icon github></icon></td>
            <td><a href="https://github.com/Voxel-Fox-Ltd">github.com/Voxel-Fox-Ltd</a></td>
        </tr>
        <tr>
            <td>Personal Github</td>
            <td><icon github></icon></td>
            <td><a href="https://github.com/4Kaylum">github.com/4Kaylum</a></td>
        </tr>
    </tbody>
</table>
