<a href="#main"><img class="logo" src="{{ logo }}" /></a>
<div class="contact-list">
    <div class="label">
        <p>Contact Email</p>
        <p>Support Email</p>
        <p>Discord</p>
        <p>Twitch.tv</p>
        <p>YouTube</p>
        <p>Voxel Fox Github</p>
        <p>Personal Github</p>
    </div>
    <div class="icons">
        <icon at></icon>
        <icon at></icon>
        <icon discord></icon>
        <icon twitch></icon>
        <icon youtube></icon>
        <icon github></icon>
        <icon github></icon>
    </div>
    <div class="text">
        <p><a href="mailto:kae@voxelfox.co.uk">kae@voxelfox.co.uk</a></p>
        <p><a href="mailto:kae@voxelfox.co.uk">support@voxelfox.co.uk</a></p>
        <p><a href="https://discord.gg/VoxelFox">discord.gg/VoxelFox</a></p>
        <p><a href="https://twitch.tv/VoxelFoxKae">twitch.tv/VoxelFoxKae</a></p>
        <p><a href="https://www.youtube.com/c/KaeVF">youtube.com/c/KaeVF</a></p>
        <p><a href="https://github.com/Voxel-Fox-Ltd">github.com/Voxel-Fox-Ltd</a></p>
        <p><a href="https://github.com/4Kaylum">github.com/4Kaylum</a></p>
    </div>
</div>
