<a href="#main"><img class="logo" src="{{ logo }}" /></a>
<p>
    Voxel Fox deals with small-scale event hires for AV equipment throughout
    Essex, England. With Voxel Fox, getting equipment for your events is quick,
    easy, and friendly.
</p>
<p>
    At present, our inventory is relatively limited. That said, we're expanding all
    the time and are always looking to help you and help your events to be as good
    as they can possibly be.
</p>
<p>
    If you're looking to hire any items or if you're just looking for advice on
    your events, please <a href="#contact">send an email over to us</a> and
    we'll help you organise.
</p>

<div id="hire-inventory">
    <div class="hire-item" data-category="sound">
        <div class="left">
            <img src="{{ static('/images/hires/ahqu24.png') }}" />
        </div>
        <div class="right">
            <p class="name">Allen and Heath Qu24</p>
            <div class="description">
                <p>
                    Allen and Heath's bestselling digital mixer. Featuring 24
                    physical XLR/quarter inch inputs, 8 outputs (including 4
                    stereo outs), and a fader per input.
                </p>
                <p>
                    It's an incredibly simple to use desk, especially if you're
                    coming directly from having only used an analogue desk
                    before this point.
                </p>
            </div>
            <p class="price">£50/day</p>
        </div>
    </div>
</div>
