<a href="#main"><img class="logo" src="{{ logo }}" /></a>
<p>
    Voxel Fox deals with small-scale event hires for AV equipment throughout
    Essex, England. With Voxel Fox, getting equipment for your events is quick,
    easy, and friendly.
</p>
<p>
    At present, our inventory is relatively limited. That said, we're expanding all
    the time and are always looking to help you and help your events to be as good
    as they can possibly be.
</p>
