{% block head %}

<!-- Made with love by catdotjs (and Kae helped a lot <3) 2021-->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@VoxelFoxKae" />
<meta name="twitter:title" content="Voxel Fox" />
<meta name="twitter:description" content="I make things on the internet and sometimes they get popular." />
<meta property="og:image" content="https://voxelfox.co.uk/static/images/logo2.png" />
<meta name="theme-color" content="#5dadec">
<title>Voxel Fox</title>
<link rel="stylesheet" href="{{ static('css/index.css') }}">
<link rel="stylesheet" href="{{ static('css/icomoon.css') }}">

{% endblock %}
