{% macro create_link(href, icon, kwargs=none) %}
<li>
    <a
            href="{{ href }}"
            target="_blank"
            {% for k, v in (kwargs or {}).items() %}
                {{ k }}="{{ v }}"
            {% endfor %}
            >
        <span class="icon-{{ icon }}"></span>
    </a>
</li>
{% endmacro %}

{% set index_logo_url = (
    [
        '/images/_voxelfox/gay.svg',
        '/images/_voxelfox/trans.svg',
        '/images/_voxelfox/bi.svg',
    ] | random) %}

{% set index_logo = static(index_logo_url) %}

<img class="logo" src="{{ index_logo }}" />
<h1>Voxel Fox</h1>
<ul class="contact-links">
    {{ create_link("mailto:kae@voxelfox.co.uk", "at") }}
    {{ create_link("https://discord.gg/vfl", "discord") }}
    {{ create_link("https://uwu.social/@kae", "mastodon", {"rel": "me"}) }}
    {{ create_link("https://twitch.tv/VoxelFoxKae", "twitch") }}
    {{ create_link("https://twitter.com/VoxelFoxKae", "twitter") }}
    {{ create_link("https://www.youtube.com/c/kaevf", "youtube") }}
    {{ create_link("https://github.com/4Kaylum", "github") }}
    {{ create_link("https://github.com/Voxel-Fox-Ltd", "github") }}
</ul>
<p><a href="#projects">Projects</a></p>
<p><a href="#commissions">Commissions</a></p>
<p><a href="#branding">Branding</a></p>
