<a href="#projects"><img class="logo" src="{{ logo }}" /></a>
<h1>TitleScraper</h1>
<p>A simple program to find an open window and write its title to a file.</p>
<p>Written to scrape Spotify's currently playing song for use on a livestream.</p>
<ul class="links">
  <li>
    <a href="https://github.com/Voxel-Fox-Ltd/TitleScraper" target="_blank">
      Github <icon github></icon>
    </a>
  </li>
</ul>
