<a href="#projects">
    <img class="logo" src="{{ logo }}" />
</a>
<h1>Streamlink</h1>
<p>A tiny tool for adding TTS to your Twitch chat over Oauth.</p>
<ul class="links">
    <li>
        <a href="https://github.com/Voxel-Fox-Ltd/Streamlink" target="_blank">
            Github <span class="icon icon-github"></span>
        </a>
    </li>
</ul>
