
<a href="#main"><img class="logo" src="{{ logo }}" /></a>
<div class="project-list">
    <p>
        <a href="#project-marriagebot">
            MarriageBot <icon discord />
        </a>
    </p>
    <p>
        <a href="#project-flower">
            Flower <icon discord />
        </a>
    </p>
    <p>
        <a href="#project-age">
            Age Checker <icon link />
        </a>
    </p>
    <p>
        <a href="#project-profile">
            Profile <icon discord />
        </a>
    </p>
    <p>
        <a href="#project-titlescraper">
            TitleScraper <icon computer />
        </a>
    </p>
    <p>
        <a href="#project-cerberus">
            Cerberus <icon discord />
        </a>
    </p>
    <p>
        <a href="#project-streamlink">
            Streamlink <icon computer />
        </a>
    </p>
</div>
