<a href="#main"><img class="logo" src="{{ logo }}" /></a>
<div class="project-list">
  <p>
    <a href="#project-novus">Novus <icon discord></icon></a>
    <span class="project-date">August 2021 - present</span>
  </p>
  <p>
    <a href="#project-marriagebot">MarriageBot <icon discord></icon></a>
    <span class="project-date">July 2018 - present</span>
  </p>
  <p>
    <a href="#project-flower">Flower <icon discord></icon></a>
    <span class="project-date">August 2019 - present</span>
  </p>
  <p>
    <a href="#project-age">Age Checker <icon link></icon></a>
  </p>
  <p>
    <a href="#project-profile">Profile <icon discord></icon></a>
    <span class="project-date">July 2019 - present</span>
  </p>
  <p>
    <a href="#project-titlescraper">TitleScraper <icon computer></icon></a>
  </p>
  <p>
    <a href="#project-tck">TCK.gg <icon link></icon></a>
    <span class="project-date">July 2022 - September 2022</span>
  </p>
  <p>
    <a href="#project-cerberus">Cerberus <icon discord></icon></a>
    <span class="project-date">November 2019 - present</span>
  </p>
  <p>
    <a href="#project-streamlink">Streamlink <icon link></icon></a>
  </p>
</div>
