<a href="#projects">
  <img
      class="image rounded"
      src="https://yt3.googleusercontent.com/K117DINt1pdTRPry1vMMpwN8vTJSlZlS1bZ4b9DIV8CUWGuansHfXB_DSm4Orb0NV0IdZeqC=s900-c-k-c0x00ffffff-no-rj"
      />
</a>

<h1>TCK.gg</h1>
<p>
  I built both the frontend and backend for the website associated with the Twitch streamer TCK.
</p>
<div class="technology">
  <icon html5></icon>
  <icon css3></icon>
  <icon jacascript></icon>
  <icon python></icon>
</div>

<ul class="links">
  <li>
    <a
        href="https://web.archive.org/web/20230704205010/https://tck.gg/"
        target="_blank"
        >
      Website <icon link></icon>
    </a>
  </li>
</ul>
