<a href="#projects">
  <img
      class="image"
      src="{{ static('/images/flower/FlowerTransparentCropped.png') }}"
      />
</a>
<h1>Flower</h1>
<p>Grow a virtual garden from right in Discord.</p>
<ul class="links">
  <li>
    <a
        href="https://github.com/Voxel-Fox-Ltd/Flower"
        target="_blank"
        >
      Github <icon github />
    </a>
  </li>
  <li>
    <a
        href="/portal/flower"
        target="_blank"
        >
      Donate <icon banknote />
    </a>
  </li>
  <li>
    <a
        href="/md/privacy_policy/Flower.md"
        target="_blank"
        >
      Privacy Policy <icon link />
    </a>
  </li>
  <li>
    <a
        href="/md/terms_of_service/Flower.md"
        target="_blank"
        >
      Terms of Service <icon link />
    </a>
  </li>
</ul>
