<a href="#projects">
    <img class="logo" src="{{ logo }}" />
</a>
<h1>Over 18 Age Checker</h1>
<p>A tiny page to show you when someone's date of birth has to be to be 18 today.</p>
<p>Made for a nightclub's ticket office.</p>
<ul class="links">
    <li>
        <a href="/18" target="_blank">
            Website <span class="icon icon-link" />
        </a>
    </li>
</ul>
