<a href="#projects">
  <img
      class="image"
      src="{{ static('/images/marriagebot/rings.png') }}"
      />
</a>
<h1>MarriageBot</h1>
<p>The most popular family tree bot on Discord.</p>
<ul class="links">
  <li>
    <a
        href="https://marriagebot.xyz"
        target="_blank"
        >
      Website <icon link></icon>
    </a>
  </li>
  <li>
    <a
        href="https://github.com/Voxel-Fox-Ltd/MarriageBot"
        target="_blank"
        >
      Github <icon github></icon>
    </a>
  </li>
  <li>
    <a
        href="/portal/marriagebot"
        target="_blank"
        >
      Donate <icon banknote></icon>
    </a>
  </li>
  <li>
    <a
        href="/md/privacy_policy/MarriageBot.md"
        target="_blank"
        >
      Privacy Policy <icon link></icon>
    </a>
  </li>
  <li>
    <a
        href="/md/terms_of_service/MarriageBot.md"
        target="_blank"
        >
      Terms of Service <icon link></icon>
    </a>
  </li>
</ul>
