<a href="#projects">
    <img class="image rounded" src="{{ static('/images/cerberus/Cerberus.png') }}" />
</a>
<h1>Cerberus</h1>
<p>An activity tracking bot for Discord users.</p>
<ul class="links">
    <li>
        <a href="https://github.com/Voxel-Fox-Ltd/Cerberus" target="_blank">
            Github <icon github />
        </a>
    </li>
    <li>
        <a href="/md/privacy_policy/Cerberus.md" target="_blank">
            Privacy Policy <icon link />
        </a>
    </li>
    <li>
        <a href="/md/terms_of_service/Cerberus.md" target="_blank">
            Terms of Service <icon link />
        </a>
    </li>
</ul>
