<script type="text/javascript">
function blockHamburgerScroll(node) {
    if(node.checked) {
        document.body.style.overflow = "hidden";
    }
    else {
        document.body.style.overflow = "scroll";
    }
}
</script>
<input type="checkbox" id="hamburger-checkbox" onchange="blockHamburgerScroll(this);" />
<div id="nav">
    <a href="/"><img src="{{ static('/images/_voxelfox/white.svg') }}" /></a>
    <div class="buttons">
        <a class="button index-button" href="/">Index</a>
        <a class="button" href="/projects">Projects</a>
        <a class="button" href="/commissions">Commissions</a>
        <a class="button" href="/contact">Contact</a>
        <a class="button" href="/branding">Branding</a>
    </div>
    <label for="hamburger-checkbox"></label>
</div>
