<!DOCTYPE html>
<html>
<head>
    {% include "partials/head.htm.j2" %}
    {% block head %}{% endblock head %}
</head>
<body>
    {% include "partials/nav.htm.j2" %}
    <div id="content">{% block content %}{% endblock content %}</div>
    {% include "partials/foot.htm.j2" %}
</body>
</html>
