{%
  macro display_item(
    item,
    purchase=none,
    show_buy_button=true,
    disabled=false) %}
<div
    class="item{% if disabled %} disabled{% endif %}"
    data-id="{{ item.id }}"
    data-order="{{ item.order }}" >
  <p class="name">
    {{ item.name }}
    {% if purchase and purchase.discord_guild_id %}
      ({{ purchase.discord_guild_id }})
    {% endif %}
  </p>
  {% if item.description %}
    <div class="description">{{ item.description | markdown | safe }}</div>
  {% endif %}
  <p class="price">
    Price: <span>{{ item.currency_symbol }}{{ item.price }}</span>
  </p>

  {% if show_buy_button and not disabled %}
    {% if item.per_guild and not purchase %}
      <select class="guild-select" onchange="javascript:guildSelectChange('{{ item.id }}')">
        <option value="">{% if item.subscription %}Subscribe{% else %}Purchase{% endif %} for Guild</option>
      </select>
    {% elif not item.per_guild %}
      {% if purchase and item.subscription %}
        {% if purchase.expiry_time is none %}
          <form>
            <button formaction="/portal/unsubscribe/{{ purchase.id }}" class="button unsubscribe">Unsubscribe</button>
          </form>
        {% else %}
          <p style="font-weight: bold;">This subscription will expire automatically <span class="expiry_time" data-expiry="{{ purchase. expiry_time.isoformat() }}"></span>.</p>
        {% endif %}
      {% elif item.subscription %}
        <form>
          <button formaction="/portal/item/{{ item.id }}" class="button">{% if item.subscription %}Subscribe{% else %}Purchase{% endif %}</button>
        </form>
      {% endif %}
    {% endif %}
  {% endif %}
</div>
{% endmacro %}
