{% extends "portal/template.htm.j2" %}

{% from "portal/functions.htm.j2" import display_item %}

{% block main %}
{% include "portal/preamble.htm.j2" %}

<div id="current-items">
  <h1 class="title">Your Purchases</h1>
  <div class="items">
    {% if current_items is none %}
      <form>
        <input type="hidden" name="login" />
        <button class="button">Login to see your purchases</button>
      </form>
    {% else %}
      {% if current_items %}
        {% for purchase in current_items %}
          {{ display_item(purchase._item, purchase) }}
        {% endfor %}
      {% else %}
        <p>No items purchased.</p>
      {% endif %}
    {% endif %}
  </div>
</div>

<div id="purchase-items">
  <h1 class="title">Available for Purchase</h1>
  <div class="items">
    {% for item in purchase_items %}
      {% if item in unavailable_items %}
        {{ display_item(item, disabled=true) }}
      {% else %}
        {{ display_item(item) }}
      {% endif %}
    {% endfor %}
  </div>
</div>

</div>

<script
  id="guild-script"
  type="text/javascript"
  data-logged-in="{{ logged_in | int }}"
  src="{{ static('/js/portal.js') }}">
</script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.8/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.8/plugin/relativeTime.min.js"></script>
<script>
dayjs.extend(dayjs_plugin_relativeTime)
for(let d of document.querySelectorAll(".expiry_time")) {
  d.textContent = dayjs(d.dataset.expiry).fromNow();
}
</script>
{% endblock main %}
