{% extends "portal/template.htm.j2" %}

{% from "portal/functions.htm.j2" import display_item %}

{% block main %}
{% include "portal/preamble.htm.j2" %}

<div id="current-items" data-empty="">
  <div style="display: flex;">
    <h1 class="title">Your Purchases ({{ session.discord.username }})</h1>
    <button class="display-button" onclick="toggleShownCurrent();">&darr;</button>
  </div>
  <div class="items hidden">
    {% if user_purchases is none %}
      <form>
        <input type="hidden" name="login" />
        <button class="button">Login to see your purchases</button>
      </form>
    {% else %}
      {% if user_purchases %}
        {% for purchase in user_purchases %}
          {{ display_item(purchase._item, purchase) }}
        {% endfor %}
        <script>
          items = document.querySelector("#current-items");
          items.removeAttribute("data-empty");
        </script>
      {% else %}
        <p>No items purchased.</p>
      {% endif %}
    {% endif %}
  </div>
</div>

<div id="purchase-items">
  <h1 class="title">Available for Purchase</h1>
  <div class="items">
    {% for item in available_items %}
      {% if item.visible %}
        {% if item in unavailable_items %}
          {{ display_item(item, disabled=true) }}
        {% else %}
          {{ display_item(item) }}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>

</div>

<script
  id="guild-script"
  type="text/javascript"
  data-logged-in="{{ logged_in | int }}"
  src="{{ static('/js/portal.js') }}">
</script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.8/dayjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.8/plugin/relativeTime.min.js"></script>
<script>
dayjs.extend(dayjs_plugin_relativeTime)
for(let d of document.querySelectorAll(".expiry_time")) {
  d.textContent = dayjs(d.dataset.expiry).fromNow();
}
async function toggleShownCurrent() {
  let base = document.querySelector("#current-items");
  let items = base.querySelector(".items");
  items.classList.toggle("hidden");
  if(items.classList.contains("hidden")) {
    base.querySelector("button").textContent = "\u2193";
  } else {
    base.querySelector("button").textContent = "\u2191";
  }
}
</script>
{% endblock main %}
