<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ static('css/portal/index.css') }}" />
    <link rel="icon" href="{{ static('/images/_voxelfox/logo.png') }}" />
    <title>Voxel Fox Payment Portal</title>
</head>
<body>

<div class="container">
    <div id="guild-items" class="block">
        {% if guild_items %}
            <h1 class="title">Per-Guild Items</h1>
            <div class="items">
                {% for item in guild_items %}
                    <div class="item" data-id="{{ item.id }}">
                        <p class="name">{{ item.name }}</p>
                        {% if item.description %}
                            <p class="description">{{ item.description }}</p>
                        {% endif %}
                        <p class="price">
                            Price:
                            <span>{{ item.currency_symbol }}{{ item.price }}</span>
                            {% if item.quantity > 1 %}
                                each
                                (<span>{{ item.currency_symbol }}{{ "%.2f" | format(item.price_number * item.quantity / 100)}}</span>)
                            {% endif %}
                        </p>
                        <select class="select guild-select" onchange="javascript:guildSelectChange('{{ item.id }}')">
                            <option value="">Purchase for Guild</option>
                        </select>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div id="user-items" class="block">
        {% if user_items %}
            <h1 class="title">Per-User Items</h1>
            <div class="items">
                {% for item in user_items %}
                    <div class="item" data-id="{{ item.id }}">
                        <p class="name">{{ item.name }}</p>
                        {% if item.description %}
                            <p class="description">{{ item.description | markdown | safe }}</p>
                        {% endif %}
                        <p class="price">
                            Price:
                            <span>{{ item.currency_symbol }}{{ item.price }}</span>
                            {% if item.quantity > 1 %}
                                each
                                (<span>{{ item.currency_symbol }}{{ "%.2f" | format(item.price_number * item.quantity / 100)}}</span>)
                            {% endif %}
                        </p>
                        <a href="/portal/item/{{ item.id }}" class="button">Purchase</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

<script id="guild-script" type="text/javascript" data-logged-in="{{ logged_in | int }}">
function guildSelectChange(itemId) {
    var guildSelect = document.querySelector(`.item[data-id="${itemId}"] .guild-select`);
    var guildId = guildSelect.value;
    if (!guildId) {
        return;
    }
    window.location.href = `/portal/item/${itemId}?guild=${guildId}`;
}


async function getGuilds() {

    // Get selectors
    let allGuildSelectors = document.querySelectorAll(".guild-select");
    if(allGuildSelectors.length <= 0) return;

    // See if we need to replace the item
    if (!document.querySelector("#guild-script").dataset.loggedIn) {
        for(let g of allGuildSelectors) {
            select.innerHTML = `<a href="?login" class="button">Login to see guilds</a>`;
        }
        return;
    }

    // Get guilds
    var guilds = await fetch("/api/portal/get_guilds");
    guilds = await guilds.json();

    // Sort by name
    guilds.sort((a, b) => {
        var nameA = a.name.toUpperCase();
        var nameB = b.name.toUpperCase();
        if (nameA < nameB) {
            return -1;
        }
        if (nameA > nameB) {
            return 1;
        }
        return parseInt(a.id) - parseInt(b.id);
    });

    // Add to dropdowns
    for(let select of allGuildSelectors) {
        select.innerHTML = "<option value='' selected>Purchase for Guild</option>";
        let owned = document.createElement("optgroup");
        owned.label = "Guilds you own";
        let administrate = document.createElement("optgroup");
        administrate.label = "Guilds you administrate";
        let manage = document.createElement("optgroup");
        manage.label = "Guilds you manage";
        let contained = document.createElement("optgroup");
        contained.label = "Guilds you're in";
        for(let guild of guilds) {
            let option = document.createElement("option");
            option.value = guild.id;
            option.innerText = guild.name;
            if(guild.permissions.owner) {
                owned.appendChild(option);
            } else if(guild.permissions.administrator) {
                administrate.appendChild(option);
            } else if(guild.permissions.manage_guild) {
                manage.appendChild(option);
            } else {
                contained.appendChild(option);
            }
        }
        select.appendChild(owned);
        select.appendChild(administrate);
        select.appendChild(manage);
        select.appendChild(contained);
    }
}
getGuilds();
</script>

</body>
</html>
