<div id="preamble">
  <a href="/">
    <img
        src="{{ static('/images/_voxelfox-2025/Logo White.svg') }}"
        alt="The Voxel Fox logo"
        width="168"
        height="164" />
  </a>
  <div>
    <h1>Voxel Fox</h1>
    <p>Designing digital experiences</p>
  </div>
</div>
