{% extends "portal/template.htm.j2" %}

{% from "portal/functions.htm.j2" import display_item %}

{% block main %}
{% include "portal/preamble.htm.j2" %}

<a href="/portal/{{ item.product_group }}" id="back-button">&#8592; back</a>

<div id="current-items">
  <div class="items">
    {{ display_item(item, show_buy_button=false) }}
  </div>
  <div id="stripe-button" class="button-holder block"></div>
  <div id="paypal-button" class="button-holder block"></div>
</div>


{% if item.avaiable %}
  {% include "portal/stripe.htm.j2" %}
  {#
  {% if item.subscription %}
    {% include "portal/paypal_subscription.htm.j2" %}
  {% else %}
    {% include "portal/paypal_item.htm.j2" %}
  {% endif %}
  #}
{% endif %}
{% endblock main %}
