<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ static('css/portal/item.css') }}" />
    <link rel="icon" href="{{ static('/images/_voxelfox/logo.png') }}" />
    <title>Voxel Fox Payment Portal</title>
</head>
<body>


<div class="container">
    <div class="item" data-id="{{ item.id }}">
        <h1 class="title">{{ item.name }}</h1>
        <div class="block">
            {% if item.description %}
                <p class="description">{{ item.description }}</p>
            {% endif %}
            <p class="price">Price: <span>{{ item.price }}</span></p>
        </div>
        <div id="stripe-button" class="button-holder block"></div>
        <div id="paypal-button" class="button-holder block"></div>
    </div>
</div>


{# Stripe #}
<script src="https://js.stripe.com/v3/"></script>
<script
        id="stripe-script"
        data-name="{{ item.name }}"
        data-user-id="{{ user_id }}"
        data-guild-id="{{ guild_id or '' }}"
        data-button="stripe-button">
var stripe = Stripe("pk_live_0Fx3FqHVF6tDXipvuUxdSDeu00egEyOnyO");
var ss = document.getElementById("stripe-script");
var button = document.getElementById(ss.dataset.button);
button.innerHTML = "<button class='button'>Checkout with Stripe</button>";
button.onclick = () => {
    fetch("/webhooks/stripe/create_checkout_session", {
        method: "POST",
        body: JSON.stringify({
            product_name: ss.dataset.name,
            discord_user_id: ss.dataset.userId,
            discord_guild_id: ss.dataset.guildId,
        }),
    }).then(function (response) {
        return response.json();
    }).then(function (session) {
        return stripe.redirectToCheckout({ sessionId: session.id });
    }).then(function (result) {
        if (result.error) {
            alert(result.error.message);
        }
    }).catch(function (error) {
        console.error("Error:", error);
    });
};
</script>


{# PayPal global #}
{% set pp_base = "https://www.paypal.com/sdk/js" %}
{% set client_id = (
    "AZrQypK2Od7C44Y1JgQAStWunNw7puFjVx0ako0rCOl2zJWuRpMNnm"
    "35uvxMCsPa-vNmJFAiHq-o0q61"
) %}


{# PayPal subscription #}
{% if item.subscription %}
<script src="{{ pp_base }}?client-id={{ client_id }}&vault=true"></script>
<script
        id="paypal-script"
        data-user-id="{{ user_id }}"
        data-guild-id="{{ guild_id or '' }}"
        data-plan-id="{{ item.paypal_plan_id }}"
        data-button="paypal-button">
var pps = document.getElementById("paypal-script");
paypal.Buttons({
    style: {
        label: 'subscribe',
        color: 'gold',
        tagline: false,
        layout: 'horizontal',
    },
   createSubscription: function(data, actions) {
        return actions.subscription.create({
           'plan_id': pps.getAttribute("plan-id"),
           'custom_id': JSON.stringify({
                discord_user_id: pps.dataset.userId,
                discord_guild_id: pps.dataset.guildId,
            }),
        });
    },
    onApprove: function(data, actions) {
        alert(data.subscriptionID);
    }
}).render("#" + pps.dataset.button);
</script>


{# PayPal single #}
{% else %}
<script src="{{ pp_base }}?client-id={{ client_id }}"></script>
<script
        id="paypal-script"
        data-user-id="{{ user_id }}"
        data-guild-id="{{ guild_id or '' }}"
        data-button="paypal-button">
var pps = document.getElementById("paypal-script");
paypal.Buttons({
    style: {
        label: 'paypal',
        color: 'gold',
        tagline: false,
        layout: 'horizontal',
    },
    createOrder: function(data, actions) {
        return actions.order.create({
            purchase_units: [{
                amount: {
                    value: {{ item.price_number }} / 100,
                    currency_code: "{{ item.currency_code }}",
                },
                items: {
                    name: "{{ item.name }}",
                    unit_amount: {
                        value: {{ item.price_number }} / 100,
                        currency_code: "{{ item.currency_code }}",
                    },
                    quantity: "1",
                },
                custom_id: JSON.stringify({
                    discord_user_id: pps.dataset.userId,
                    discord_guild_id: pps.dataset.guildId,
                }),
            }],
        });
    },
    onApprove: function(data, actions) {
        alert(data.subscriptionID);
    }
}).render("#" + pps.dataset.button);
</script>
{% endif %}


</body>
</html>
