html {
    background-color: black;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10em;
    font-family: "Century Gothic", "Helvetica", sans-serif;
}

#guild-items,
#user-items {
    display: block;
    margin-top: 20px;
}

#guild-items:empty,
#user-items:empty {
    display: none;
}

.items {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.title {
    color: white;
    text-align: center;
}

.item {
    padding: 20px;
    color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 15px;
    width: 25em;
    max-width: calc(100vw - 40px);
    background: #222222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    font-weight: bold;
    font-size: 1.4rem;
}

.price {
    font-weight: bold;
}

.price, .name, .description, .button {
    margin: 0.2em 0;
}

.price span {
    font-style: italic;
}

.button, .select {
    margin-top: 5px;
    width: 100%;
    height: 55px;
    font-size: 1.2em;
    text-align: center;
}

strong {
    color: inherit;
}

ul {
    list-style: disc outside;
    margin-left: 2em;
    margin-top: 0.5em;
}
