html {
    background-color: #111111;
}

#guild-items,
#user-items {
    display: block;
    margin-top: 20px;
}

.items {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.title {
    color: white;
    text-align: center;
}

.item {
    padding: 20px;
    color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 15px;
    width: 15em;
    background: #222222;
}

.name {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.description {
    margin-bottom: 5px;
}

.price {
    margin-bottom: 5px;
}

.price span {
    font-style: italic;
}

.button {
    margin-top: 5px;
    width: 100%
}
