html {
    background-color: #111111;
}

.title {
    color: white;
    margin-bottom: 0 !important;
}

.item {
    padding: 20px;
    color: white;
}

.name {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.description {
    margin-bottom: 5px;
}

.price {
    margin-bottom: 5px;
}

.price span {
    font-style: italic;
}
