html {
    background-color: #111;
}

body {
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-family: "Century Gothic", "Helvetica", sans-serif;

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10em;
}

.title {
    color: #fff;
    margin-bottom: 0!important;
}

.item {
    padding: 20px;
    color: #fff;
}

.description {
    margin-bottom: 5px;
}

.price {
    margin-bottom: 5px;
}

.price span {
    font-style: italic;
}

#stripe-button,
#paypal-button {
    width: 100%;
}

#stripe-button .button,
.unsubscribe-button {
    --col: #4379FF;
    width: 100%;
    background: var(--col);
    border-color: var(--col);
    color: white;
    font-weight: bold;
}

.unsubscribe-button {
    --col: red;
    margin-top: 20px;
}
