html {
    background-color: black;
}

body {
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-family: "Century Gothic", "Helvetica", sans-serif;

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10em;
}

.back-button {
    text-align: left;
    color: rgba(100, 100, 255, 0.7);
    width: 100%;
    display: block;
    margin-left: 50px;
}

.title {
    color: #ccc !important;
}

.item {
    padding: 20px;
    color: #fff;
}

.item .text {
    font-size: 1.2rem;
}

.description {
    margin-bottom: 5px;
}

.price {
    margin-bottom: 5px;
}

.price span {
    font-style: italic;
}

#stripe-button,
#paypal-button {
    width: 100%;
}

#stripe-button .button,
.unsubscribe-button {
    --col: #4379FF;
    width: 100%;
    background: var(--col);
    border-color: var(--col);
    color: white;
    height: 55px;
    font-size: 1.4em;
}

.unsubscribe-button {
    --col: red;
    margin-top: 20px;
}

.price {
    font-weight: bold;
}

strong {
    color: inherit;
}
