html {
    background-color: black;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10em;
    font-family: "Century Gothic", "Helvetica", sans-serif;
}

#payment-details {
    display: none;
    visibility: hidden;
}
