html {
    background-color: black;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10em;
    font-family: "Century Gothic", "Helvetica", sans-serif;
    margin: 20px 40px;
}

#payment-details {
    display: none;
    visibility: hidden;
}

body > .content {
    width: 100%;
}

.checkout-item {
    width: 100%;
    border: 1px solid #222;
    border-radius: 20px;
    padding: 20px;
}

.checkout-item:not(:last-of-type) {
    margin-bottom: 20px;
}

.checkout-item .label {
    color: white;
}

.checkout-item .input,
.checkout-item .textarea {
    font-family: inherit;
    background: #222;
    border-color: lightgray;
    color: white;
}

.checkout-item .input:disabled {
    background: darkgray;
    border-color: gray;
    color: #222;
}
